.bold {
  font-weight: $bold-font-weight;
}

.regular {
  font-weight: normal;
}

.caps {
  text-transform: uppercase;
  letter-spacing: $spacing;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

// .right-align {
//   text-align: right;
// }
