<%= link_to announcement, class: 'link-reset' do %>
  <div class="panel">
    <h2 class="text-primary"><%= announcement.title %></h2>
    <p class="text-muted m0">
      <% if announcement.author_id == 1 %>
        Lachlan Campbell
      <% else %>
        Taran Samarth
      <% end %>
      on <%= announcement.created_at.strftime('%B %e, %Y') %>
    </p>

    <div class="text m1-top">
      <%= announcement.body_rendered.truncate(220, :omission => ' [...]').html_safe %>
    </div>
  </div>
<% end %>
