<%- title 'Announcements' %>
<% activate_nav!(:announcements) %>

<%= render 'shared/nav' %>

<main class="md-col-8 mw7 mx-auto pam">
  <h1 class="mbs">Noodles keeps getting better.</h1>
  <h2 class="grey-3 mtn mbl normal">Check back here for the latest updates.</h2>
  <% @announcements.each do |post| %>
    <article class="bg-white rounded shadow pal mbl">
      <h1 class="man">
        <%= link_to post.title, announcement_path(post) %>
      </h1>
      <p class="grey-3">
        <%= post.created_at.strftime '%B %e, %Y' %>
      </p>
      <div class="text text-normalized">
        <%= post.body_rendered.html_safe %>
      </div>
    </article>
  <% end %>
</main>
