# Read more at http://help.github.com/ignore-files/

.DS_Store

/config/database.yml # Database config
/.bundle # Bundler config
/log/*.log # logs
/tmp
*.env
/bin/* # Bundler binstubs
*.swp # VI swp files
*.sublime-* # Sublime Text files

*.log
