# Read more at http://help.github.com/ignore-files/

/config/database.yml # Database config
/.bundle # Bundler config
/log/*.log # logs
/tmp
*.env
/bin/* # Bundler binstubs
/.vagrant # Vagrant folder
/app/assets/stylesheets/.sass-cache/ # Sass cache
.DS_Store # OS X .DS_Store files
*.swp # VI swp files
*.sublime-* # Sublime Text files
