body {
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif !important;
  text-align: center;
}
.form-control {
  padding-left: 0.66em !important;
  width: 50% !important;
  min-width: 275px;
  max-width: 800px;
  margin: 24px auto;
}
h1 { font-size: 4em !important; }
h3 { font-size: 2em !important; }
p {
  margin: 24px auto !important;
  font-size: 1.33em;
  width: 50%;
  min-width: 315px;
  max-width: 1000px;
}
