<%- title 'Sign Up' %>
<% activate_nav!(:sign_up) %>

<% @form = render 'new', user: @user, text: t('.sign_up_and') %>

<% if request.xhr? %>
  <%= @form %>
<% else %>
  <%= render 'shared/nav' %>

  <main class="document">
    <h1 class="mbs"><%= t('.welcome') %></h1>
    <%= @form %>
  </main>
<% end %>
