<%- title 'Welcome' %>

<article class="m2-block-center">
  <h2>Awesome! You're all signed up and ready to go.</h2>
  <p class="text-muted">I hope you enjoy your experience with Noodles. Kick the tires, create some recipes, give it a shot in the kitchen. If you have any feedback, don't hesitate to send it to me!</p>
  <%= link_to 'Explore your new Noodles account', recipes_path, class: 'btn btn-success' %>
</article>
