<% activate_nav!(:analytics_marketable) %>

<%= render 'shared/analytics_nav' %>

<article class="col-8">

  <h1>Marketable for Devise</h1>

  <table class="table">
    <thead>
      <tr style="font-weight: bold;">
        <td>Email</td>
        <td>referring_url</td>
        <td>landing_url</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.referring_url %></td>
          <td><%= user.landing_url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>
