<%= link_to recipe, class: "link-reset" do %>
  <div class="panel">
    <% if recipe.favorite? %>
      <%= inline_svg("favorite.svg") %>
    <% end %>

    <h2><%= recipe.title %></h2>
    <% unless recipe.description.blank? %>
    <p class="text-muted"><%= recipe.description.truncate(180) %></p>
    <% end %>
  </div>
<% end %>
