<%= link_to recipe do %>
  <div class="recipe-list-item">
    <div class="indicators">
      <% if recipe.favorite? %>
        <%= inline_svg("favorite.svg") %>
      <% end %>
    </div>

    <h2><%= recipe.title %></h2>
    <% unless recipe.description.blank? %>
    <p><%= recipe.description.truncate(180) %></p>
    <% end %>
  </div>
<% end %>
