<% activate_nav!(:edit_recipe) %>

<%= render 'shared/nav' %>

<article class="col-8">

  <h1>
    <%= t('.editing') %>
    <%= header_cleaner(@recipe.title, class: 'ib') %>
  </h1>

  <%= render 'form' %>

</article>
