<% activate_nav! :home %>

<%= render 'shared/nav' %>

<div class="container col-8 center">

  <h1><%= t('.cook_better_with') %></h1>

  <p>
    Collect, share, find, and organize your recipes like never before with Noodles.
  </p>

  <%= link_to t('general.sign_up'), :add_user, class: 'btn btn-lg btn-primary' %>

</div>
