<article class="col-6 container center">
  <div class="locked mx-auto">
    <%= inline_svg("locked.svg") %>
  </div>
  <h2>Sorry, that recipe isn't public.</h2>
  <p>To see this recipe, ask the recipe owner to click "Share" at the bottom of their recipe page.</p>
</article>
