<article class="sm-col-11 md-col-6 center mt3">
  <%= react_component("IconLocked", size: "200px", classes: "mx-auto fill-grey-4") %>
  <h2>Sorry, that recipe isn't public.</h2>
  <p>To see this recipe, ask the recipe owner to click "Share" at the bottom of their recipe page.</p>
</article>
