<article class="locked text-center m2-block-center">
  <%= inline_svg('locked.svg') %>
  <h2>Sorry, that recipe isn't public.</h2>
  <p class="text-muted">To see this recipe, ask the recipe owner to click "Share" at the bottom of their recipe page.</p>
</article>
