<%- title 'Private recipe' %>
<% @remove_grey_bg = true %>
<%= render 'shared/nav' %>

<main class="md-col-6 mx-auto phm tc pvl">
  <%= react_component 'IconLocked', size: '200', classes: 'mx-auto fill-grey-4' %>
  <h2>Sorry, that recipe is private.</h2>
  <p>To see this recipe, ask the recipe owner to make sure they've shared this recipe.</p>
  <%= link_to t('general.sign_in'), sign_in_path, class: 'mts btn bg-blue' unless user_signed_in? %>
</main>
