<% activate_nav!(:new_recipe) %>

<%= render 'shared/nav' %>


<div class="page container col-md-8 col-md-offset-2">

  <div class="row">
    <h1 class="page-title"><%= t('.new_recipe') %></h1>
  </div>

  <%= render 'form' %>

</div>

<div class="container col-md-8 col-md-offset-2 footer">
  <%= render 'shared/footer' %>
</div>
