.border {
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
}

@each $side in (top bottom left right) {
  .border-#{$side} {
    border-#{$side}-style: solid;
    border-#{$side}-width: $border-width;
    border-#{$side}-color: $border-color;
  }
}

.bw0     { border-width: 0; }

.br--sm   { border-radius: $border-radius-sm; }
.br,
.rounded { border-radius: $border-radius; }
.circle  { border-radius: 50%; }

.rounded-top {
  border-radius: $border-radius $border-radius 0 0;
}

/*
.rounded-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

.rounded-left {
  border-radius: $border-radius 0 0 $border-radius;
}

.rounded-right {
  border-radius: 0 $border-radius $border-radius 0;
}

.not-rounded {
  border-radius: 0;
}
*/
