.flex { display: flex }

.fac  { align-items: center }
.fab  { align-items: baseline }
.fae  { align-items: flex-end }
.fas  { align-items: stretch }
.fjc  { justify-content: center }
.fjb  { justify-content: space-between }
.fsn  { flex-shrink: 0 }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-rows { flex-flow: row wrap }

.flex-first { order: -1 }
.flex-last  { order: 99999 }

@media screen and (min-width: 48em) {
  .flex-ns { display: flex }
}

/*
.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }

.flex-start    { align-items: flex-start }

.flex-around   { justify-content: space-around }

.flex-grow { flex: 1 0 auto }
.flex-none { flex: none }
*/
