.flex { display: flex; }

@media screen and (min-width: 30em) {
  .flex-ns { display: flex; }
}

@media screen and (min-width: 48em) {
  .flex-md { display: flex; }
}

.fac  { align-items: center; }
.fab  { align-items: baseline; }
.fas  { align-items: flex-start; }
.fae  { align-items: flex-end; }
.fjc  { justify-content: center; }
.fjb  { justify-content: space-between; }
.fc   { flex-direction: column; }
.fsn  { flex-shrink: 0; }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-rows { flex-flow: row wrap; }
.flex-cols { flex-flow: column wrap; }

.flex-first { order: -1; }
.flex-last  { order: 99999; }

/*
.flex-wrap    { flex-wrap: wrap; }

.flex-stretch  { align-items: stretch; }
.flex-start    { align-items: flex-start; }

.flex-around   { justify-content: space-around; }

.flex-grow { flex: 1 0 auto; }
.flex-none { flex: none; }
*/
