/*
.mw1  { max-width: 1rem; }
.mw2  { max-width: 2rem; }
.mw3  { max-width: 4rem; }
.mw9  { max-width: 96rem; }
.mw10 { max-width: 128rem; }
*/

.mw4 { max-width: 8rem; }
.mw5 { max-width: 16rem; }
.mw6 { max-width: 32rem; }
.mw7 { max-width: 48rem; }
.mw8 { max-width: 64rem; }

.w-initial { width: initial !important; }
.mw-100 { max-width: 100%; }

.measure { max-width: 28rem; }
.measure--narrow { max-width: 20rem; }
.measure--wide   { max-width: 36rem; }

@media screen and (min-width: 48em) {
  .measure-ns { max-width: 28rem; }
  .measure--narrow-ns { max-width: 20rem; }
  .measure--wide-ns   { max-width: 36rem; }
}
