.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

.bx { box-sizing: border-box; }

.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }

@media screen and (min-width: 48em) {
  .sticky-ns {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
  }

  .relative-ns { position: relative; }
  .absolute-ns { position: absolute; }
  .fixed-ns    { position: fixed; }

  .t0-ns { top: 0; }
  .r0-ns { right: 0; }
  .b0-ns { bottom: 0; }
  .l0-ns { left: 0; }
}
