.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }

@media screen and (min-width: 48em) {
  .tl-ns  { text-align: left; }
  .tr-ns  { text-align: right; }
  .tc-ns  { text-align: center; }
}
