/*
.v-base    { vertical-align: baseline; }
.v-sub     { vertical-align: sub; }
.v-sup     { vertical-align: super; }
.v-txt-top { vertical-align: text-top; }
.v-txt-btm { vertical-align: text-bottom; }
.v-btm     { vertical-align: bottom; }
 */

.v-mid     { vertical-align: middle; }
.v-top     { vertical-align: top; }
