.col-6 {
  width: (6/12 * 100%);
}

.col-8 {
  width: (8/12 * 100%);
}

.col-9 {
  width: (9/12 * 100%);
}

.col-10 {
  width: (10/12 * 100%);
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 12em) {
  .sm-col-6 {
    width: (6/12 * 100%);
  }

  .sm-col-8 {
    width: (8/12 * 100%);
  }

  .sm-col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .md-col-4 {
    width: (4/12 * 100%);
  }

  .md-col-6 {
    width: (6/12 * 100%);
  }

  .md-col-8 {
    width: (8/12 * 100%);
  }

  .md-col-9 {
    width: (9/12 * 100%);
  }
  
  .md-col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .lg-col-6 {
    width: (6/12 * 100%);
  }

  .lg-col-8 {
    width: (8/12 * 100%);
  }

  .lg-col-9 {
    width: (9/12 * 100%);
  }
  
  .lg-col-12 {
    width: 100%;
  }
}
