@media print {
  .dn-p {
    display: none !important;
  }

  body {
    background-color: $white !important;
  }

  .image-header {
    padding: 2rem 0 0 !important;
  }

  .superheading:before {
    content: 'Noodles – ';
  }

  main {
    max-width: 100% !important;
    width: 100% !important;
  }

  * {
    background: transparent;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #000 !important;
    max-width: 100%;
    word-wrap: break-word;
  }
}
