@media print {
  .dn-p {
    display: none !important;
  }

  .superheader {
    padding-bottom: 0 !important;
    line-height: 0 !important;
    border-bottom: 0 !important;

    &:after {
      content: ' on Noodles';
    }
  }

  main {
    width: 100% !important;
  }

  * {
    background: transparent;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #000 !important;
    max-width: 100%;
    word-wrap: break-word;
  }
}
