@media print {
  .dn-p,
  .btn-paper,
  .btn-paper-mini,
  .filterbar {
    display: none !important;
  }

  .document {
    width: 100%;
    border: 0;
  }

  main {
    width: 100% !important;
  }

  * {
    background: transparent;
    box-shadow: none !important;
    color: #000 !important;
    max-width: 100%;
    word-wrap: break-word;
  }
}
