html, body {
  height: 100%;
}

body {
  background-color: $brand-bg;
  color: $black;
}

.container {
  margin-top: 1rem;
}

.page {
  padding: 8px 48px 32px 48px;
  @include paper;

  &:hover {
    @include shadow-2;
  }
}

// Assorted styles that don't fit anywhere else

.home {
  padding: 1em 0 2em 0 !important;
}

.row.no-padding {
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid $brand-border;
}
