.shadow {
  box-shadow: $shadow;
}

.document {
  box-shadow: $shadow;
  @extend .mx-auto;
  background: #fff;
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: $space-2;
  width: 100%;
}

@media #{$breakpoint-md} {
  .document {
    padding: $space-3;
    width: (8/12 * 100%);
  }
}

@media print {
  .document {
    width: 100%;
  }
}

hr {
  border: 0;
  border-bottom: $border;
  margin: $space-2 auto;
}

.well {
  box-shadow: inset 0 0 10px rgba(0,0,0,.05);
}

.pointer {
  cursor: pointer;
}

.bs-bb {
  box-sizing: border-box;
}
