body {
  margin: 0;
  background-color: $brand-bg;
}

%box {
  @include shadow-compact;
  background: #fff;
  border-radius: $radius;
}

.document {
  @extend %box;
  @extend .center;
  padding: 24px;
}

@media (max-width: $screen-phone) {
  .document {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding: 16px !important; // override article
  }

  .panel.mobile-full-width {
    margin: 1rem 0 !important;
    padding: 1rem !important;
  }
}

.panel {
  @extend %box;
  @extend .text;
  margin: $padding-small 0;
  padding: 20px 16px;

  h2 {
    @extend .m0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.well {
  background-color: #fafafa;
  border-radius: $radius;
  border: 1px solid $grey-lighter;
  box-shadow: inset 0 0 10px rgba(0,0,0,.05);
  padding: 30px;
  text-align: center;
}

.badge {
  @extend .m-small-left;
  background: #78909c;
  border-radius: 20px;
  color: #fff;
  font-size: $size-h5;
  font-weight: 600;
  padding: 4px 6px;
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: $border;
  height: 0;
  margin: $padding-base 0;
}

img {
  max-width: 100%;
}

ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
