// Assorted

body {
  height: 100%;
  margin: 0;
  background-color: $brand-bg;
}

hr {
  border: 0;
  border-bottom: 1px solid $grey-lighter;
  margin: $padding-base 0;
}

.panel {
  background-color: white;
  border: 1px solid $grey-lighter;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
  padding: 20px 16px;
  margin: $padding-base 0;

  h2 {
    margin: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.notes {
  background-color: $notes;
}

.token {
  font-size: $type-body;
  text-align: center;
  margin-right: 12px;
  min-width: 48px;
  padding: 0 12px;
  border-radius: 16px;
  display: inline-block;
}

.token-outline {
  @extend .token;
  border: 1px solid $blue;
  color: $blue !important;
}

.token-full {
  @extend .token;
  background-color: $blue;
  color: white !important;
}

// .well {
//   border: 1px solid $grey-lighter;
//   border-radius: 3px;
//   padding: 20px 16px;
//   margin: $padding-base 0;
//   background-color: #F2F2F2;
//
//   p:last-child {
//     margin-bottom: 0;
//   }
// }

// Helper classes

.block {
  display: block !important;
}

.ib {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.m0 {
  margin: 0 !important;
}

.m1 {
  margin: 1em;
}

.m1-top {
  margin-top: 1em;
}

.m1-btm {
  margin-top: 0;
  margin-bottom: 1em;
}

.m1-5-top {
  margin-top: 1.5em;
}

.m2-block-center {
  display: block;
  margin: 2em auto;
  width: 33.33333333%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.center {
  margin: auto;
}

.flex {
  @include display(flex);
}

.flex-between {
  @include justify-content(space-between);
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: $screen-phone) {
  .m1-block-center {
    margin: 2em auto !important;
    width: 95% !important;
  }
}
