html, body {
  height: 100%;
}

body {
  background-color: $brand-bg;
  color: $black;
}

.container {
  @include paper;

  &:hover {
    @include shadow-2;
  }
}

.page {
  padding: 8px 48px;
}

.home {
  padding: 1em 0 2em 0 !important;
}

hr {
  border: 0;
  border-bottom: 2px solid $brand-border;
}
