.red {
  color: $red;
}

.orange {
  color: $orange;
}
.fill-orange {
  fill: $orange;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.fill-white {
  fill: #fff;
}

.grey-6 {
  color: $grey-6;
}
.bg-grey-6 {
  background-color: $grey-6;
}
.fill-grey-6 {
  fill: $grey-6;
}

.grey-5 {
  color: $grey-5;
}
.bg-grey-5 {
  background-color: $grey-5;
}
.fill-grey-5 {
  fill: $grey-5;
}

.grey-4 {
  color: $grey-3;
}
.bg-grey-4 {
  background-color: $grey-4;
}
.fill-grey-4 {
  fill: $grey-4;
}

.grey-3 {
  color: $grey-3;
}
.bg-grey-3 {
  background-color: $grey-3;
}
.fill-grey-3 {
  fill: $grey-3 ;
}


// Colors just for text, no bg classes needed
.grey-2 {
  color: $grey-2;
}
.grey-1 {
  color: $grey-1;
}
.black {
  color: $black;
}
