.printer-copy {
  @include text-body;
  display: none;

  hr {
    margin: 25px 0 12px 0;
  }
}

@media print {
  h1:not(.page-title) {
    font-size: 24px;
    font-weight: 300;
    color: black;
  }

  .printer-copy {
    display: block;
  }

  .print-hide {
    display: none !important;
  }

  * {
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  img {
    max-width: 100% !important;
  }
}
