.printer-copy {
  display: none;
  margin-top: 2em;
}

@media print {
  @page {
    margin: 1cm;
  }

  .printer-copy {
    display: block;
  }

  .print-hide {
    display: none !important;
  }

  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    hyphens: auto !important;
    max-width: 100% !important;
    word-wrap: break-word !important;
  }

  .text {
    max-width: 95% !important;
  }

  article,
  .document {
    border: 0 !important;
    margin: 0 !important;
    padding: 16px !important;
  }
}
