.printer-copy {
  @include text-caption;
  display: none;

  hr {
    margin: 25px 0 12px 0;
  }
}

@media print {
  h1:not(.page-title) {
    font-size: 24px;
    font-weight: 300;
    color: $black-64;
  }

  .print-full-width {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .printer-copy {
    display: block;
  }
}

@media print {
  * {
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:;"]:after {
    content: "";
  }
  img {
    max-width: 100% !important;
  }
  select {
    background: white !important;
  }
}
