.printer-copy {
  display: none;
  @include text-caption;

  hr {
    margin: 25px 0 12px 0;
  }
}

@media print {
  h1:not(.page-title) {
    font-weight: 300;
    font-size: 24px;
    color: $black-64;
  }

  .printer-copy {
    display: block;
  }
}
