button,
ul,
ol,
blockquote {
  margin: 0;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

// Hack for worthless div's React adds.
// Otherwise they change the layout
div[data-react-class^="Icon"] {
  display: inline-block;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.link-reset {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
