body {
  font-family: $font-base;
}

.page-title {
  font-size: 3em;
  font-weight: bold;
  border-bottom: 2px solid $brand-border;
  padding-bottom: 10px;
}

.section-title {
  text-transform: uppercase;
  color: $gray-dark;
}

p {
  font-size: 1.18em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $blue;

  &:hover {
    color: $dark-blue;
  }

  &:visited {
    color: $blue;

    &:hover {
      color: $dark-blue;
    }
  }
}

small {
  font: 1em $font-base;
}
