body {
  font-family: $font-base;
  line-height: $line-height;
  font-weight: 300;
}

h1 {
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 37px;
  line-height: 1.25;
  margin: 15px 0 0 0;
}

h2 {
  color: $black;
  font-size: 21px;
  font-weight: 500;
  margin: 20px 0;
}

p {
  font: 300 16px $font-base;
  line-height: $line-height;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: darken($link-color, 4%);
  }
}

small {
  font: 1em $font-base;
}

.left-align {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.text-muted {
  color: $grey !important;

  &:hover {
    color: darken($grey, 8%);
  }
}
