body {
  color: $grey-1;
  font-family: $font-family;
  font-size: 100%;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-1;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: .5em;
  margin-top: 1em;
}

p,
ol,
ul {
  font-size: $h4;
  margin-top: 0;
  margin-bottom: $space-2;
}

.h1 {
  font-size: $h1;
  margin-top: 0;
}

h1 {
  @extend .h1;
  color: $orange;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3,
.text-normalized h2,
.text-normalized h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

small {
  font-size: 90%;
}

p,
.text {
  color: $grey-2;
  font-size: $h4;
}
p {
  margin: 0 0 12px;
}
.text p:last-child {
  margin-bottom: 0;
}


.lead {
  color: $grey-3;
  font-size: $h2;
  line-height: ($h2 * 1.5);
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $orange-dark;
  }

  &.blue:hover {
    color: $blue-dark;
  }
}

.text-normalized h1 {
  color: $grey-2;
  font-size: $h3;
}

.tsn {
  text-shadow: none;
}

.checked {
  color: $grey-4;
  text-decoration: line-through;
}
