body {
  color: $grey-1;
  font-family: $font-family;
  font-size: 100%;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-1;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: .5em;
  margin-top: 1em;
}

p,
ol,
ul {
  font-size: $h4;
  margin-top: 0;
  margin-bottom: $space-2;
}

.h1 {
  font-size: $h1;
  margin-top: 0;
}

h1 {
  @extend .h1;
  color: $orange;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3,
.text-normalized h2,
.text-normalized h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  @extend .caps;
  color: $grey-3;
  font-size: $h6;
}

small {
  font-size: 90%;
}

p {
  @extend .text;
  margin: 0 0 12px;
}

.lead {
  color: $grey-3;
  font-size: $h2;
  line-height: ($h2 * 1.5);
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: darken($orange, 8%);
  }
}

.text {
  color: $grey-2;
  font-size: $h4;
}

.text-normalized {
  word-wrap: break-word;

  h1 {
    color: $grey-1;
    font-size: $h3;
    margin-top: $space-1;
  }
}

.checked {
  color: $grey-4;
  text-decoration: line-through;
}
