body {
  color: $black;
  font: 13px/1.4 $font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1 {
  color: $brand-primary;
  font-size: $size-h1;
}

h2,
.text h1 {
  font-size: $size-h2;
}

h3,
.text h2 {
  font-size: $size-h3;
}

h4,
.text h3 {
  font-size: $size-h4;
}

h5 {
  font-size: $size-h5;
}

h6 {
  color: $grey;
  font-size: $size-h6;
  letter-spacing: .02rem;
  margin: 8px 0;
  text-transform: uppercase;
}

small {
  font-size: 90%;
}

p {
  @extend .text;
  margin-bottom: 16px;
  margin-top: 0;
}

a,
a:visited {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-reset {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.text {
  font: 400 16px/1.6 $font-base;
  word-wrap: break-word;

  ol,
  ul {
    padding-left: 23px;
  }

  h1 {
    @extend %astro;
    color: $black;
    text-transform: uppercase;
  }
}

// Helpers

%astro {
  letter-spacing: 0.02rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $brand-primary;
}

.text-danger {
  color: $brand-danger;
}

.text-success {
  color: $brand-success;
}

.text-blue {
  color: $blue;
}

.text-dark {
  color: $black;
}

.text-muted {
  color: $grey;
}
