body {
  font-family: $font-base;
  line-height: $line-height;
  font-weight: 400;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

h1 {
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 300;
  line-height: 1.25;
  margin: 15px 0 0 0;
}

h2 {
  color: $black;
  font-size: 21px;
  margin: 12px 0;
}

h6 {
  color: $grey;
  font-size: 1rem;
  margin: 8px 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

p {
  font: 400 16px $font-base;
  line-height: $line-height;
  margin: $padding-small 0;
}

a, a:visited {
  text-decoration: none;
  color: $brand-primary;

  &:hover {
    text-decoration: none;
    color: darken($brand-primary, 6%);
  }
}

small {
  font: 1em $font-base;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.text-danger {
  color: $brand-danger !important;
}

.text-muted {
  color: $grey !important;

  &:hover {
    color: darken($grey, 8%);
  }
}
