<nav
  role="navigation"
  class="nav bg-blur sticky-ns pas phm-ns tc dn-p mbm">

  <%= link_to root_url, class: 'dn dib-ns nav__icon lh' do %>
    <%= inline_svg 'cook.svg', class: 'fill-orange', size: 28 %>
  <% end %>

  <article class="nav__container">
    <%= link_to 'Dashboard', analytics_dash_path, class: nav_active_class(:analytics_dash) %>
    <%= link_to 'Users', analytics_users_path, class: nav_active_class(:analytics_users) %>
  </article>
</nav>
