<section class="bio m1-top">
  <div class="author-photo">
    <img src="https://s3.amazonaws.com/noodles-assets/announcements/avatars/lachlan.jpg">
  </div>
  <div class="author-info">
    <h2>
      Lachlan Campbell
      <a href="https://twitter.com/lachlanjc" class="token-full">@lachlanjc</a>
    </h2>
    <p>Co-founder of Noodles. Hacker on Rails. Middle schooler.</p>
  </div>
</section>
<hr>
