<section class="bio m1-top">
  <div class="author-photo">
    <img src="https://s3.amazonaws.com/noodles-assets/announcements/avatars/taran.jpg">
  </div>
  <div class="author-info">
    <h2>
      Taran Samarth
      <a href="https://twitter.com/tarans22" class="token-full">@tarans22</a>
    </h2>
    <p>Co-founder of Noodles. Hacker, writer, and football geek.</p>
  </div>
</section>
<hr>
