<section class="bio m1-top">
  <div class="bio-photo">
    <img src="http://d1fmxjrxw87eps.cloudfront.net/me.jpg">
  </div>
  <div class="bio-info ib m1-top">
    <h2 class="ib m0">Lachlan Campbell</h2>
    <a href="https://twitter.com/lachlanjc" class="badge m-small-left">@lachlanjc</a>
    <p>Design, hacking, and middle school. Co-founder of Noodles.</p>
  </div>
</section>
<hr>
