<% if target.errors.any? %>
  <section class="card">
    <h2 class="mtn red"><%= t '.oops_went_wrong' %></h2>
    <ul>
      <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
