<% if target.errors.any? %>
  <div class="panel">
    <h2 class="text-red"><%= t(".oops_went_wrong") %></h2>
    <ul>
      <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
