<div class="filter-bar">

  <div class="search">
    <%= inline_svg('ios7-search.svg') %>
    <span><%= t('general.search') %> (<%= pluralize(@recipes.count, t('general.recipe')) %>)...</span>
  </div>

</div>
