<div class="filter-bar">

  <div class="search">
    <%= inline_svg('ios7-search.svg') %>
    <span><%= t('general.search') %> (<%= pluralize(@recipes.count, t('general.recipe')) %>)...</span>
  </div>

  <div class="filter">
    <span>Sort &amp; filter</span>
    <span class="dropdown-arrow">
      <%= inline_svg('ios7-arrow-down.svg') %>
    </span>
  </div>

</div>
