<% simple ||= false %>
<% if flash.any? %>
  <% if simple %>
    <% flash.each do |type, message| %>
      <div
        role="alertdialog"
        data-behavior="flash"
        class="pam tc mbm rounded bg-blue white">
        <%= message %>
      </div>
    <% end %>
  <% else %>
    <%= react_component 'FlashContainer', flashes: flash_json %>
  <% end %>
<% end %>
