<% if flash.any? %>
<section class="md-col-6 mw6 px2 mx-auto print-hide">
<% flash.each do |key, value| %>
  <div class="p2 mb2 rounded shadow bg-<%= flash_color_class(key) %> white" role="alertdialog" data-behavior="flash">
    <%= value %>
  </div>
<% end %>
</section>
<% end %>
