<div class="footer">
  <p>
    <span>&copy;</span>
    <%= t('.footer_copy') %>
  </p>
  <p>
    <a href="#" data-helpful="noodles" data-helpful-email="<%= current_user.email %>"><%= t('.get_help') %></a>
  </p>
</div>
