<section class="flex fac pvm">
  <img
    src="https://github.com/lachlanjc.png"
    class="circle dib fsn mrm"
    width="48" height="48">
  <div
    class="flex-auto pvs phm rounded f5 sans lh-copy"
    style="background-color: #ecf9fd"
  >
    Hey! I’m <a href="https://lachlanjc.me/" class="blue">Lachlan Campbell</a>, the creator of Noodles. If you need help or have feedback, please let me know – I’m here to help.
  </div>
</section>
<footer class="modal__feature bg-grey-5 border-top pas flex fac fjc">
  <a href="mailto:noodles@lachlanjc.com" class="btn bg-blue mrm">Email</a>
  <a href="http://m.me/getnoodles" class="btn btn-sm bg-grey-3 mrm">Messenger</a>
  <a href="https://twitter.com/noodlesapp" class="btn btn-sm bg-grey-3">Twitter</a>
</footer>
