<section class="flex fas pvs">
  <img
    src="https://github.com/lachlanjc.png"
    class="circle dib fsn mrm"
    width="48" height="48">
  <article class="flex-auto">
    <div
      class="flex-auto pvs phm rounded f5 sans lh-copy"
      style="background-color: #eae6ff"
    >
      Hey! I’m <a href="https://lachlanjc.com/" class="blue">Lachlan Campbell</a>, the creator of Noodles. If you need help or have feedback, please let me know – I’m here to help.
    </div>
    <div class="flex flex-wrap fac mtm" style="gap: 1rem;">
      <a href="mailto:noodles@lachlanjc.com" class="btn bg-blue">Email me</a>
      <a href="https://twitter.com/lachlanjc" class="btn btn-sm bg-yellow">Twitter</a>
      <a href="https://mastodon.social/@lachlanjc" class="btn btn-sm bg-yellow">Mastodon</a>
      <a href="https://github.com/lachlanjc/noodles" class="btn btn-sm bg-yellow">GitHub</a>
    </div>
  </article>
</section>
