<div class="md-col-9 border rounded p3 mt2 center print-hide mx-auto">
  <h2 class="mt0">Hey, this is Noodles!</h2>
  <p><%= link_to 'Noodles', root_url %> is a simple app for you to keep, cook, and share your recipes.</p>
  <p>Sign up for Noodles to save this recipe &mdash; it's fast and completely free.</p>
  <p class="mt2 mb0"><%= link_to 'Sign Up for Noodles', sign_up_path, class: 'btn bg-orange sm-col-8 md-col-5' %></p>
</div>
