<h2 class="mtn">Hey, this is Noodles!</h2>
<p><%= link_to 'Noodles', root_url %> is a simple app for you to keep, cook, and share your recipes.</p>
<p>Sign up for Noodles to save this recipe &mdash; it's quick and completely free.</p>
<%= link_to 'Sign Up for Noodles', sign_up_path, class: 'btn bg-orange mw5 mtm' %>
