<section class="flex fac fjc mtm mbl">
  <%= image_tag 'icon/circle@64.png', width: 32 %>
  <p class="lh-solid mlm mbn">
    Shared with <%= link_to 'Noodles', home_url, class: 'underline' %>
  </p>
</section>
