<%= markdown("Noodles was created in State College, PA and launched November 2014. Designed and built by Lachlan Campbell with Taran Samarth.") %>

<section class="bio m1-top">
  <div class="bio-photo">
    <img src="http://d1fmxjrxw87eps.cloudfront.net/me.jpg">
  </div>
  <div class="bio-info ib">
    <h2 class="m1-top">Lachlan Campbell <a href="https://twitter.com/lachlanjc" class="badge">@lachlanjc</a></h2>
  </div>
</section>

<section class="m1-top">
  <h2>Taran Samarth <a href="https://twitter.com/tarans22" class="badge">@tarans22</a></h2>
</section>
