<%= markdown("Noodles was created in State College, PA and launched November 2014. Created by Lachlan Campbell with assistance from Taran Samarth.") %>

<section class="bio m1-top">
  <div class="author-photo">
    <img src="http://d1fmxjrxw87eps.cloudfront.net/me.jpg">
  </div>
  <div class="author-info ib">
    <h2 class="ib m1-top">Lachlan Campbell</h2>
    <a href="https://twitter.com/lachlanjc" class="badge m-small-left">@lachlanjc</a>
  </div>
</section>

<section class="m1-top">
  <h2 class="ib">Taran Samarth</h2>
    <a href="https://twitter.com/tarans22" class="badge m-small-left">@tarans22</a>
  </div>
</section>
