<% activate_nav!(:help) %>
<%- title 'Help' %>
<%= render 'shared/nav' %>

<article class="document mw7">

  <% if !user_signed_in? %>

  <h1>Need help?</h1>

  <p>That's totally fine! I'm Lachlan Campbell <a class="blue" href="https://twitter.com/lachlanjc">(@lachlanjc)</a>, the creator of Noodles. I'd be happy to help out.</p>

  <p>
    <a href="mailto:lachlan@getnoodl.es?subject=I've%20got%20a%20question" class="btn bg-orange">
      Email me
    </a>
    <a href="https://twitter.com/intent/tweet?screen_name=lachlanjc" class="btn bg-blue mls">
      Tweet @lachlanjc
    </a>
  </p>

  <p>You can also check out <%= link_to 'the features guide', docs_path %> for help with various features, such as Cook Mode, Sharing, Clipping, Favorites, PDF export, and more.</p>

  <% else %>

  <h1>About Noodles</h1>

  <%= markdown "Noodles is a simple and free cooking site — a place for all your recipes. Check out [the homepage](#{root_url}) or the [Features page](#{docs_path}) for more info." %>

  <hr>

  <h2>Have a question?</h2>

  <p>Awesome. I'm Lachlan Campbell <a class="blue" href="https://twitter.com/lachlanjc">(@lachlanjc)</a>, the creator of Noodles. I'd be happy to help out.</p>

  <p>
    <a href="mailto:lachlan@getnoodl.es?subject=I've%20got%20a%20question" class="btn bg-orange">
      Email me
    </a>
    <a href="https://twitter.com/intent/tweet?screen_name=lachlanjc" class="btn bg-blue mls">
      Tweet @lachlanjc
    </a>
  </p>

  <% end %>

</article>
