<article class="md-col-8 mx-auto mt4">
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>

  <p class="mt1 lead">Lead text that takes up at least part of a line.</p>

  <p>This is a standard paragrpah, full of mispellings and errors.</p>

  <div class="mt2 pam bg-white rounded shadow text text-normalized">
    <h1>Header on a Card</h1>
    <p class="mb0">This is my wonderful recipe <strong>text</strong>.</p>
  </div>

  <hr>

  <h1>Colors</h1>

  <section class="mb2 flex flex-center flex-row mx-auto">
    <div class="pal bg-orange rounded mr1"></div>
    <div class="pal bg-blue rounded mr1"></div>
    <div class="pal bg-green rounded mr1"></div>
    <div class="pal bg-red rounded mr1"></div>
    <div class="pal grey-1 rounded mr1" style="
        background-color: #4f545c;
    "></div>
    <div class="pal grey-2 rounded mr1" style="
        background-color: #585e67;
    "></div>
    <div class="pal bg-grey-3 rounded mr1"></div>
    <div class="pal bg-grey-4 rounded mr1"></div>
    <div class="pal bg-grey-5 rounded mr1"></div>
  </section>

  <hr>

  <h1>Buttons</h1>

  <p><a class="btn bg-orange">Orange</a></p>
  <p><a class="btn bg-blue">Blue</a></p>
  <p><a class="btn bg-green">Green</a></p>
  <p><a class="btn bg-grey-3">Grey 3</a></p>
</article>
