<main class="document mvl mw7">
  <h1>Styleguide (Header 1)</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>

  <p>This is a standard paragraph in sans-serif.</p>
  <p class="content">This is a standard paragraph in serif.</p>

  <%= section_header 'Colors', 2 %>

  <section class="mbm flex fac flex-row mx-auto">
    <div class="pal bg-orange rounded mrs"></div>
    <div class="pal bg-blue rounded mrs"></div>
    <div class="pal bg-green rounded mrs"></div>
    <div class="pal bg-purple rounded mrs"></div>
    <div class="pal bg-red rounded mrs"></div>
    <div class="pal bg-grey-1 rounded mrs"></div>
    <div class="pal bg-grey-2 rounded mrs"></div>
    <div class="pal bg-grey-3 rounded mrs"></div>
    <div class="pal bg-grey-4 rounded mrs"></div>
    <div class="pal bg-grey-5 rounded border mrs"></div>
  </section>

  <%= section_header 'Buttons', 2 %>

  <p class="mbl"><a class="btn btn--primary bg-purple">Primary</a></p>

  <p><a class="btn bg-orange">Orange</a></p>
  <p><a class="btn bg-blue">Blue</a></p>
  <p><a class="btn bg-green">Green</a></p>
  <p><a class="btn bg-purple">Green</a></p>
  <p><a class="btn bg-grey-3">Grey 3</a></p>
</main>
