html, body { height: 100%; }
body {
  color: #333;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}
button:focus { outline: none; }
.content {
  display: inline-block;
  width: 100%;
  padding-left: 15px;
}
.nav {
  width: 75px;
  height: 95%;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 0;
  margin: 0.35% 0 0 0;
  display: flex;
  display: -webkit-flex;
}
.nav-container { margin: auto 0; }
.nav-container a {
  display: block;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  border: 0;
  width: 35px;
  height: 35px;
  margin: 0 auto 35px 13px;
}
.nav-container .add { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/add.svg"); }
.nav-container .recipes { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/recipes.svg"); }
.nav-container .collections { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/collections.svg"); }
.nav-container .ingredients { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/ingredients.svg"); }
.nav-container .cuisines { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/cuisines.svg"); }

.nav-container .add-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/add-active.svg"); }
.nav-container .recipes-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/recipes-active.svg"); }
.nav-container .collections-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/collections-active.svg"); }
.nav-container .ingredients-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/ingredients-active.svg"); }
.nav-container .cuisines-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/cuisines-active.svg"); }
.nav-container .active {
    background-color: #fa6713;
    padding: 17px 25px 17px 17px;
    margin: 0 auto 25px -8px;
    background-position: 21px 17px;
}

header {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.title {
  font-weight: normal;
  font-size: 2em;
  line-height: 2em;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: #fa6713;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 1.25em 5px auto 0;
  color: #fff;
  text-align: center;
  font-size: 0.75em;
  font-family: "freight-sans-pro", sans-serif;
  letter-spacing: 0.05rem;
}
.button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
header .button {
  letter-spacing: 0.01rem !important;
  font-size: 1em !important;
}
article h2 { letter-spacing: -0.03rem !important; }
input {
  display: block;
  height: 30px;
  padding: 2px 10px;
  font-size: 1em;
  letter-spacing: 0.02rem;
  font-family: "freight-sans-pro", sans-serif;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus {
  border: 1px solid rgba(19, 166, 250, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
     -moz-box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
          box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
}
.instructions-content {
  width: 99%;
  height: 20em !important;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  padding: 2em 0;
  resize: none;
  overflow: auto;
}
.instructions-content:focus {
  outline: none;
  border-top: 1px solid #13a6fa;
  border-bottom: 1px solid #13a6fa;
}
