.nav-container .add-active { background-image: url("http://noodles.s3.amazonaws.com/add-active.svg"); }
input { display: block !important; }
.ingredients input {
  width: 25%;
  min-width: 175px;
  max-width: 400px;
}
.ingredients .button { margin-top: 0; }
