.nav-container .recipes-active { background-image: url("http://assets.getnoodl.es/recipes-active.svg"); }

header .label {
  color: #fa6713;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
header .filter button {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-top: 5px;
}
header .filter button:focus { outline: none; }
#clock { background-image: url("http://assets.getnoodl.es/clock.svg"); }
header .search {
  box-sizing: border-box;
  background: url("http://assets.getnoodl.es/search-grey.svg") no-repeat !important;
  background-size: 18px !important;
  background-position: 6px !important;
  margin-right: 0.66em !important;
  width: 12em !important;
  padding-left: 2em !important;
  letter-spacing: 0 !important;
}
header .search:focus { background-image: url("http://assets.getnoodl.es/search.svg") !important; }
.recipes ul {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.recipe-list {
  list-style: none;
  padding-left: 1px;
}
.recipe-list li { margin: 24px 0; }
.recipe-list li div {
  font-weight: 400;
  font-size: 1.25em;
  color: #fa6713;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
.recipe-list li p {
  font-size: 0.9em;
  color: #aaa;
  font-family: Georgia, serif;
}
@media only screen and (max-width: 1025px) { }
@media only screen and (max-width: 800px) { article { width: 75%; } }
@media only screen and (max-width: 640px) { article { width: 80%; } }
@media only screen and (max-width: 500px) {
  article {
    width: 85%;
    margin-left: 18px;
  }
}
@media only screen and (max-width: 333px) { article { width: 95%; } }
@media print {
    .nav { display: none; }
    header { display: block; }
    header .filter { display: none; }
    header div .search { display: none; }
    li div { color: #000 !important; }
    li p { color: #000 !important; }
    .button { display: none; }
}
