.nav-container .collections-active { background-image: url("http://assets.getnoodl.es/collections-active.svg"); }
.container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
.collection {
  width: 250px;
  height: 250px;
  margin: 2em 1em;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4em;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 33px rgba(0,0,0,0.2) !important;
          box-shadow: 0 5px 33px rgba(0,0,0,0.2);
}
.add {
  background: #fff;
  background-image: url("http://assets.getnoodl.es/add.svg");
  background-repeat: no-repeat;
  background-position: 100px;
  background-size: 50px;
  border: 3px solid #fa6713;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.collection img {
  height: 100%;
  margin-left: -50px;
}
.label-container {
  height: 3em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.33);
  margin: -52px auto 0 auto;
}
@media print {
  .collection { box-shadow: none !important; }
  .add { display: none; }
  .collection { font-weight: bold; }
}
