.nav-container .ingredients-active { background-image: url("http://assets.getnoodl.es/ingredients-active.svg"); }
#ingredients-list {
  width: 75%;
  list-style: none;
}
#ingredients-list li {
  background: #fa6713;
  font-size: 1em;
  border-radius: 12px;
  padding: 2px 8px;
  color: #fff !important;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
  margin: 1em;
  display: inline-block
}
.ingredient button {
  background-image: url("http://assets.getnoodl.es/close.svg");
  width: 11px;
  height: 11px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
}
.recipes ul {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.recipe-list {
  list-style: none;
  padding-left: 1px;
}
.recipe-list li { margin: 24px 0; }
.recipe-list li div {
  font-weight: 400;
  font-size: 1.25em;
  color: #fa6713;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
.recipe-list li p {
  font-size: 0.9em;
  color: #aaa;
  font-family: Georgia, serif;
}
@media only screen and (max-width: 1025px) { }
@media only screen and (max-width: 800px) {
  article { width: 75%; }
}
@media only screen and (max-width: 640px) { article { width: 80%; } }
@media only screen and (max-width: 500px) {
  article {
    width: 85%;
    margin-left: 18px;
  }
}
@media only screen and (max-width: 333px) { article { width: 95%; } }
@media print {
    .nav { display: none; }
    header { display: block; }
    header .filter { display: none; }
    header div .search { display: none; }
    .list-header { color: #000 !important; }
    .button { display: none; }
}
