body {
  display: block !important;
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}
button:focus { outline: none; }
.r-header {
  width: 100%;
  overflow: hidden;
  background-image: url("http://f.cl.ly/items/2S0P3x0s1g0a1j200F2S/SonNX7_01_9704_1024p.jpg");
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
header .back {
  background: url("http://noodles.s3.amazonaws.com/back-white.svg") no-repeat;
  width: 3.33em !important;
  height: 3.33em !important;
  background-size: 100%;
  margin: 1.66em 0 0 1.66em;
}
.r-header .container { margin: 12em auto 6em 4em; }
.r-header h1 {
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0 3px 24px rgba(0,0,0,0.33);
  margin-bottom: 0;
}
.r-header h4 {
  text-shadow: 0 1px 8px rgba(0,0,0,0.25);
  font-size: 1.33em;
  font-weight: normal;
  margin: 0.33em auto 0 0;
  line-height: 1.75em;
}
.r-header h5 {
  font-style: italic !important;
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 0.33em;
  text-shadow: 0 1px 6px rgba(0,0,0,0.25);
}
article h4 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.75em;
  margin-bottom: 0;
}
.bold { font-weight: bold; }
.scale {
  margin-top: 0;
}
.body-container {
  width: 100%;
  box-shadow: 0 -35px 50px rgba(0,0,0,0.4);
  z-index: 2;
}
article {
  width: 65%;
  padding-top: 1em;
  margin-left: 15%;
  font-size: 1.2em !important;
  line-height: 1.75em;
  letter-spacing: 0.01rem;
  z-index: 3;
}
section { margin: 1.25em 0; }
.notes {
  width: 80%;
  max-width: 1000px;
  height: 315px;
  border-radius: 0.75em;
  display: flex;
  display: -webkit-flex;
}
.ingredients ul {
  list-style: none;
  padding-left: 0;
}
.ingredients ul li { line-height: 2em; }
.recipe-actions {
  list-style: none;
  width: 12em;
  padding: 0.5em 1em 1em 0;
}
.recipe-actions .top { border-top: 1px solid #f3f3f3; }
.recipe-action li {
  width: 100%;
  color: #fa6713;
  line-height: 2.5em;
}
.recipe-actions button {
  border-bottom: 1px solid #f3f3f3 !important;
  width: 100%;
  text-align: left;
  font-size: 0.85em;
  padding-bottom: 2px;
}
.recipe-actions span {
  color: #fa6713;
  line-height: 2em;
  vertical-align: top;
  padding-top: 12px;
  letter-spacing: 0.02rem;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
.recipe-actions .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-right: 10px;
}
#edit { background-image: url("http://noodles.s3.amazonaws.com/edit.svg"); }
#print { background-image: url("http://noodles.s3.amazonaws.com/print.svg"); }
#share { background-image: url("http://noodles.s3.amazonaws.com/options.svg"); }
#shopping-list { background-image: url("http://noodles.s3.amazonaws.com/shopping-list.svg"); }

@media only screen and (max-width: 1025px) {
  .r-header .container { margin: 10em auto 5em 5em; }
}
@media only screen and (max-width: 800px) {
  .r-header .container { margin: 6em auto 3em 3em; }
  article { width: 75%; }
}
@media only screen and (max-width: 640px) {
  .r-header { background-position: 0 0; }
  .r-header .container { margin: 5em auto 2.5em 2.5em; }
  .r-header h1 { font-size: 3em; }
  article { width: 80%; }
  .notes { width: 75%;}
  .recipe-options { width: 33%; }
}
@media only screen and (max-width: 500px) {
  .r-header .container { margin: 4em auto 2em 2em; }
  .r-header h1 {
    font-size: 2.5em;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
  }
  .r-header h4 { font-size: 1.05em; }
  article {
    width: 85%;
    margin-left: 18px;
  }
  .body-container { box-shadow: none; }
  .notes { width: 85%; }
}
@media only screen and (max-width: 320px) {
  .r-header .container { margin: 1em auto 0.75em 1em; }
  .r-header h1 { font-size: 2em; }
  .r-header h4 { font-size: 1em; }
  article {
    width: 95%;
    padding-top: 0;
  }
  .notes {
    width: 100% !important;
    margin-top: 1em !important;
  }
  .recipe-actions { width: 100% !important; }
}
@media print {
  .r-header {
    background-image: none;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  .r-header .container { margin: 0 auto 0 2em; }
  .r-header h1 {
    font-size: 2.25em;
    line-height: 0.5em;
    text-shadow: none;
    color: #000;
  }
  h4 {
    color: #000;
    font-size: 1.15em;
    text-shadow: none;
  }
  .body-container { box-shadow: none; }
  article {
    width: 85%;
    margin-left: 1.33em;
  }
  article h2 { font-size: 1.15; }
  article li { font-size: 0.85em; }
  .button { display: none; }
  #rendered { display: block; }
  .p-hide { display: none; }
  #hidden-input { display: none; }
}
