.nav-container .settings-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/settings-active.svg"); }
.flex {
  display: flex;
  display: -webkit-flex;
}
.sb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.plans {
  width: 60%;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
}
.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  margin: 3em auto;
}
.checkmark:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 25px;
  border: solid #13fa67;
  border-width: 0 0 5px 5px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.or {
  vertical-align: middle;
  line-height: 60px;
  text-transform: uppercase;
}
.avatar {
  border-radius: 50%;
  margin-top: 1em;
}

@media only screen and (max-width: 1025px) { .plans { width: 100% !important; } }
@media only screen and (max-width: 950px) {
  
}
@media only screen and (max-width: 825px) {
  article { width: 85%; }
  article > div:nth-child(5) { display: inline-block !important; }
  article > div:nth-child(5) > div { margin-top: 3em; }
}
@media only screen and (max-width: 640px) {
  article { width: 100% !important; }
  .plans > div.pro > div { display: inline-block; }
  .plans > div.pro > div > div:nth-child(2) { text-align: center; }
}
@media only screen and (max-width: 500px) {
  article {
    width: 85%;
    margin-left: 18px;
  }
  .nav-container .active { padding-right: 18px !important;
}
@media only screen and (max-width: 333px) {
  article { width: 95%; }
  .recipe-actions { width: 100%; }
}
@media print {
    .nav { display: none; }
    header { display: block; }
    .button { display: none; }
}
