html, body { height: 100%; }
body {
  color: #333;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}
button:focus { outline: none; }
.content {
  display: inline-block;
  width: 100%;
  padding-left: 15px;
}
.content a {
  text-decoration: none;
}
.nav {
  width: 75px;
  height: 95%;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 0;
  margin: 0.35% 0 0 0;
  display: flex;
  display: -webkit-flex;
}
.nav-container { margin: auto 0; }
.nav-container a {
  display: block;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  border: 0;
  width: 35px;
  height: 35px;
  margin: 0 auto 35px 13px;
}
.nav-container .add { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/add.svg"); }
.nav-container .recipes { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/recipes.svg"); }
.nav-container .collections { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/collections.svg"); }
.nav-container .ingredients { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/ingredients.svg"); }
.nav-container .cuisines { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/cuisines.svg"); }

.nav-container .add-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/add-active.svg"); }
.nav-container .recipes-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/recipes-active.svg"); }
.nav-container .collections-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/collections-active.svg"); }
.nav-container .ingredients-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/ingredients-active.svg"); }
.nav-container .cuisines-active { background-image: url("https://d1nk51tq4b83ct.cloudfront.net/cuisines-active.svg"); }
.nav-container .active {
    background-color: #fa6713;
    padding: 17px 25px 17px 17px;
    margin: 0 auto 25px -8px;
    background-position: 21px 17px;
}
@media only screen and (max-width: 712px) {
  .nav-container .active { padding-right: 21px !important; }
}

header {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.title {
  font-weight: normal;
  font-size: 2em;
  line-height: 2em;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 { letter-spacing: -0.03rem !important; }
.disclaimer {
  font-size: 1.15em;
  font-weight: bold;
  letter-spacing: -0.03rem;
}
.orange { color: #fa6713; }
.bold { font-weight: bold; }
.flex {
  display: flex;
  display: -webkit-flex;
}
.sb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.plans { width: 60%; }
.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  margin: 2.5em auto;
}
.checkmark:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 25px;
  border: solid #13fa67;
  border-width: 0 0 5px 5px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
hr {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
}
.or {
  vertical-align: middle;
  line-height: 60px;
}
.avatar {
  border-radius: 50%;
  margin: 1em 0;
  border: 2px solid #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.33);
}
label { font-weight: bold; }
input {
  display: inline-block;
  height: 30px;
  padding: 2px 10px;
  font-size: 1em;
  letter-spacing: 0.02rem;
  font-family: "freight-sans-pro", sans-serif;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1em 0;
}
input:focus {
  border: 1px solid rgba(19, 166, 250, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
     -moz-box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
          box-shadow: inset 0 1px 3px rgba(19, 166, 250, 0.125);
}
input.large {
  width: 33%;
  min-width: 200px;
  max-width: 600px;
}
input.small {
  width: 15%;
  min-width: 50px;
  max-width: 120px;
}
.readonly {
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.readonly:focus {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0;
  -webkit-box-shadow: 0;
}
.save-bottom {
  letter-spacing: -0.03rem;
  margin-bottom: 1em;
}
@media only screen and (max-width: 1025px) {

}
@media only screen and (max-width: 800px) {
  article { width: 75%; }
  .plans { width: 80%; }
}
@media only screen and (max-width: 640px) {
  article { width: 80%; }
  .plans { width: 100%; }
}
@media only screen and (max-width: 500px) {
  article {
    width: 85%;
    margin-left: 18px;
  }
}
@media only screen and (max-width: 333px) {
  article { width: 95%; }
  .recipe-actions { width: 100%; }
}
@media print {
    .nav { display: none; }
    header { display: block; }
    .button { display: none; }
}
