.card {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-1;
  padding: $space-2;
  transition: all $transition;

  &:hover,
  &:focus {
    box-shadow: $shadow-2;
  }
}
