.document {
  background: #fff;
  border-color: $grey-5;
  border-style: solid;
  border-width: 1px 0;
  box-sizing: border-box;
  margin: 0 auto $space-2;
  padding: $space-2;

  @media screen and (min-width: 48em) {
    border-radius: $border-radius;
    border-width: $border-width;
    padding: $space-3;
    width: (8/12 * 100%);
  }
}
