.document {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto $space-3;
  padding: $space-2;
  position: relative;

  @media screen and (min-width: 30em) {
    border-radius: $border-radius;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
  }

  @media screen and (min-width: 48em) {
    padding: $space-3;
    width: (8/12 * 100%);
  }
}

.section-header {
  position: relative;

  &__name {
    background-color: #fff;
    display: inline-block;
    padding-right: $space-2;
    position: relative;
  }

  &.tc &__name {
    padding-left: $space-2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: $border;
    z-index: 0;
  }
}

/*
.smear {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  padding: $space-1 $space-3;
  text-align: center;
}
.smear--highlight {
  background-image: url(<%= asset_path 'smear-highlight.svg' %>);
  color: $grey-2;
}
.smear--light {
  background-image: url(<%= asset_path 'smear-light.svg' %>);
  color: $grey-2;
}
.smear--dark {
  background-image: url(<%= asset_path 'smear-dark.svg' %>);
  color: $white;
}
*/
