.document {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto $space-3;
  padding: $space-2;
  position: relative;

  @media screen and (min-width: 32em) {
    border-radius: $border-radius;
    box-shadow: $shadow-2;
  }

  @media screen and (min-width: 48em) {
    padding: $space-3;
    width: (8/12 * 100%);
  }
}

.section-header {
  position: relative;

  &__name {
    background-color: #fff;
    display: inline-block;
    padding-right: $space-2;
    position: relative;
  }

  &.tc &__name {
    padding-left: $space-2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: $border;
    z-index: 0;
  }
}
