.flex-grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: $space-2;
  width: 100%;
}

.flex-grid__item {
  box-sizing: border-box;
  width: 100%;
}

.meta-split {
  width: 100%;
}

.meta-split__col--right {
  margin-top: $space-2;
}

@media screen and (min-width: 32em) {
  .flex-grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  .split-spacer {
    min-height: 24rem;
  }

  .meta-split {
    display: flex;
  }

  .meta-split__col {
    width: 50%;
  }

  .meta-split__col--right {
    border-left: $border;
    padding-left: $space-2;
    margin-left: $space-2;
    margin-top: 0;
  }

  .two-columns-ns {
    column-count: 2;
  }
}
