.menu__toggle {
  cursor: pointer;
  position: relative;

  &[aria-expanded=true] {
    outline: none;

    &:before,
    &:after {
      bottom: -1px;
      left: (28-20) / 2 * 1px;
      border: solid transparent;
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 3;
    }

    &:before {
      border-bottom-color: $border-color;
      border-width: 10px;
    }

    &:after {
      border-bottom-color: #fff;
      border-width: 9px;
      margin-left: 1px;
    }
  }
}

.menu__content {
  display: none;
  width: 12rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: $border-radius-sm;
  border: $border;
  box-shadow: 0 3px 12px rgba($grey-2, 0.25);
  overflow: hidden;
  z-index: 2;

  @media screen and (min-width: 30em) {
    min-width: 18rem;
  }
}

.menu__action {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: .875rem;
  padding: 8px 12px;

  &,
  &:hover {
    color: $grey-1;
  }

  &:hover,
  &:focus {
    background-color: $blue-highlight;
  }

  & + .menu__action {
    border-top: $border;
  }
}

.menu__action__icon {
  fill: $grey-2;
  margin-right: $space-1;
}
