.menu__toggle {
  cursor: pointer;
  position: relative;

  &[aria-expanded='true'] {
    outline: none;

    &:before,
    &:after {
      bottom: -1px;
      left: (28-20) / 2 * 1px;
      border: solid transparent;
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 3;
    }

    &:before {
      border-bottom-color: $blue-dark;
      border-width: 10px;
    }

    &:after {
      border-bottom-color: $blue;
      border-width: 9px;
      margin-left: 1px;
    }
  }
}

.menu__content {
  display: none;
  width: 14rem;
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: $blue;
  border-radius: $border-radius-sm;
  border: 1px solid $blue-dark;
  box-shadow: 0 3px 12px rgba($grey-2, 0.25);
  overflow: hidden;
  z-index: 2;
}

.menu__action {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 12px 16px;

  &,
  &:hover {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $blue-dark;
  }

  & + .menu__action {
    border-top: 1px solid $blue-dark;
  }
}

.menu__action__icon {
  fill: $white;
  margin-right: $space-1;
}

@media screen and (min-width: 30em) {
  .menu__action {
    font-size: $f5;
    padding: 8px 12px;
  }
}
