.menu__toggle {
  cursor: pointer;
  position: relative;

  &[aria-expanded='true'] {
    outline: none;

    &:before,
    &:after {
      bottom: -1px;
      left: (28-20) / 2 * 1px;
      border: solid transparent;
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 3;
    }

    &:before {
      border-bottom-color: $blue-dark;
      border-width: 10px;
    }

    &:after {
      border-bottom-color: $blue;
      border-width: 9px;
      margin-left: 1px;
    }
  }
}

.menu__content {
  display: none;
  width: 14rem;
  position: absolute;
  top: 100%;
  right: -200%;
  background-color: $blue;
  border-radius: $border-radius-sm;
  border: 1px solid $blue-dark;
  box-shadow: $shadow-3;
  font-family: $font-family;
  overflow: hidden;
  z-index: 2;
}

.menu__action {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  padding: 12px 16px;

  &,
  &:hover {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $blue-dark;
  }

  svg {
    margin-right: 6px;
  }

  + .menu__action {
    border-top: 1px solid $blue-dark;
  }
}

@media screen and (min-width: 32em) {
  .menu__action {
    font-size: $f5;
    padding: 6px 12px;
  }
}
