.modal {
  background: #fff;
  border-radius: $border-radius;
  box-sizing: border-box;
  display: none;
  max-width: 95%;
  padding: $space-2;
  top: $space-3;

  @media screen and (min-width: 30em) {
    min-width: 36rem;
  }
}

.modal--scroll {
  max-height: 60vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal__feature {
  border-radius: 0 0 $border-radius $border-radius;
  width: calc(100% + 1rem);
  position: relative;
  top: 1rem;
  left: -1rem;
}

.modal__overlay {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
}
