.nav {
  display: flex;
  align-items: center;
  border-top: 2px solid $orange;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nav__icon {
  line-height: 1;
}

.nav__container {
  margin: auto;
}

.nav__link {
  color: $grey-1;

  &:hover {
    color: $grey-2;
  }
}

@media screen and (max-width: 30em) {
  .nav__icon {
    position: absolute;
    top: 25%;
  }
}

@media screen and (min-width: 48em) {
  .nav__section {
    display: inline-block;
    line-height: 1.5;

    &:last-child {
      border-left: $border;
      padding-left: $space-2;
      margin-left: $space-2;
    }
  }
}
