.nav {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: rgba(252,252,252,.98);
  z-index: 6;
  top: 0;
}

.nav__icon {
  align-self: flex-start;
}

.nav__container {
  line-height: 1.75;
}

.nav__link {
  color: $black;

  &:hover {
    color: $grey-3;
  }
}
