.DraftEditor-root .public-DraftEditor-content {
  min-height: 4rem;
  font-family: $serif-font-family;
  line-height: 1.6;
  * {
    font-style: normal !important;
  }
}
.DraftEditor-root .public-DraftEditor-content,
.recipe__ingredients {
  h1,
  h2 {
    color: $grey-2;
    font-family: $font-family;
    font-size: $f4;
    margin-top: $space-1;
    line-height: inherit;
  }

  span[style^='font-style: italic'],
  u {
    border-bottom: 1px solid $grey-4;
    text-decoration: none;
  }
}
.recipe__ingredients {
  p,
  ul,
  h1 {
    margin-bottom: 0;
    padding-left: 0;
  }

  ul {
    list-style: none;
  }
}

.checklist__item {
  line-height: 1.25;
  padding-bottom: $space-2 !important;
}
h1.checklist__item {
  padding-bottom: $space-1 !important;
}

.recipe__instructions {
  ol {
    list-style: none;
    padding-left: 0;
  }

  li {
    counter-increment: item;
  }
  li:before {
    content: 'Step ' counter(item);
    display: block;
    color: $grey-2;
    font-family: $font-family;
    font-weight: $bold-font-weight;
    margin-top: $space-1;
    user-select: none;
  }

  &.recipe__instructions--cook li {
    font-family: $serif-font-family;
  }
  &.recipe__instructions--cook li:before {
    font-size: $f4;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $space-1 / 2;
  }
}

.notes {
  background-color: $light-yellow;
}

.fav__checkbox,
.fav__checkbox:checked ~ .fav__indicator--basic,
.fav__indicator--checked {
  display: none !important;
}

.fav__indicator--basic,
.fav__checkbox:checked ~ .fav__indicator--checked {
  display: inline-block !important;
}

.feel:hover {
  background-color: $grey-6;
}
