.tooltipped {
  position: relative;

  &:after {
    position: absolute;
    pointer-events: none;
    content: attr(aria-label);
    padding: 2px 10px;
    font-size: $f5;
    font-weight: normal;
    line-height: 1.5;
    color: $grey-5;
    background-color: $grey-2;
    border-radius: 3px;
    right: 100%;
    bottom: 50%;
    margin-right: .5rem;
    transform: translateY(50%);
    opacity: 0;
    transition: all 186ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: max-content;
  }

  &:hover:after,
  &:active:after,
  &:focus:after {
    opacity: 1;
  }
}

.tooltipped--e:after {
  left: 100%;
  right: 0;
  margin-left: $space-1;
  margin-right: 0;
  transform: translateY(50%);
}

.tooltipped--n:after {
  right: 50%;
  bottom: 100%;
  margin-right: 0;
  transform: translateX(50%);
}
