.tooltipped {
  position: relative;

  &:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    pointer-events: none;
    content: attr(aria-label);
    padding: 2px 10px;
    font-size: .85rem;
    font-weight: normal;
    line-height: 1.5;
    color: $grey-6;
    background: $grey-3;
    border-radius: 3px;
    right: 100%;
    bottom: 50%;
    margin-right: .5rem;
    transform: translateY(50%);
    width: max-content;
  }

  &--e:after {
    left: 100%;
    right: 0;
    margin-left: $space-1;
    margin-right: 0;
    transform: translateY(50%);
  }

  &--n:after {
    left: 0;
    bottom: 100%;
    margin-bottom: 1rem;
  }

  &--vert:after {
    bottom: 40%;
  }

  &:hover,
  &:active,
  &:focus,
  &--sticky {
    &:after {
      display: inline-block;
    }
  }
}
