.action-list a {
  color: $brand-primary;
  margin-right: 15px;
  display: inline-block;

  svg, span {
    display: block;
  }

  svg {
    width: 40px;
    height: 40px;
    margin: 0 8px;

    path {
      fill: $brand-primary;
    }
  }

  &.item-danger {
    color: $brand-danger;

    svg path {
      fill: $brand-danger;
    }
  }

  span {
    text-align: center;
  }
}

.control {
  input {
    opacity: 0;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
    position: absolute;
  }

  .control-indicator-checked {
    display: none;
  }

  span {
    color: $brand-primary;
  }

  input:checked ~ .control-indicator {
    display: none;
  }

  input:checked ~ .control-indicator-checked {
    display: block;

    svg path {
      fill: $brand-primary;
    }
  }
}

@media print {
  .action-list {
    display: none;
  }
}
