.action-list a {
  @extend %pointer;
  color: $brand-primary;
  display: inline-block;
  font-size: $size-h4;
  font-weight: 600;
  margin-right: 18px;
  text-align: center;
  text-decoration: none;

  svg,
  span {
    display: block;
  }

  svg {
    @include svg(32px, $brand-primary);
    margin-left: 6px;
  }

  &.item-danger {
    color: $brand-danger;

    svg path {
      fill: $brand-danger;
    }
  }

  &.disabled {
    color: $grey-light;

    svg path {
      fill: $grey-light;
    }
  }
}

@media print {
  .action-list {
    display: none;
  }
}
