.action-list {
  @extend %box;
  display: block;
  padding: $padding-small;
  width: 16em;
}

.action-list a, .control {
  @extend %pointer;
  color: $brand-primary;
  font-size: $size-h3;
  font-weight: 600;
}

.action-list a {
  display: block;
  padding: 3px 0;

  svg {
    @include svg($size-h2, $brand-primary);
    margin-right: 6px;
  }

  span {
    @include up(-4px);
  }

  &.item-danger {
    color: $brand-danger;

    svg path {
      fill: $brand-danger;
    }
  }

  &.disabled {
    color: $grey-light;

    svg path {
      fill: $grey-light;
    }
  }
}

@media print {
  .action-list {
    display: none;
  }
}
