.action-list a {
  color: $brand-primary;
  text-align: center;
  margin-right: 18px;
  display: inline-block;

  svg, span {
    display: block;
  }

  svg {
    @include svg(32px, $brand-primary);
    margin-left: 2px;
  }

  &.item-danger {
    color: $brand-danger;

    svg path {
      fill: $brand-danger;
    }
  }
}

.control {
  input {
    opacity: 0;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
    position: absolute;
  }

  .control-indicator-checked {
    display: none;
  }

  span {
    color: $brand-primary;
  }

  input:checked ~ .control-indicator {
    display: none;
  }

  input:checked ~ .control-indicator-checked {
    display: block;

    svg path {
      fill: $brand-primary;
    }
  }
}

@media print {
  .action-list {
    display: none;
  }
}
