.action-list a {
  width: 100%;
  padding: 3px 0;
  display: block;
  border-bottom: 1px solid $brand-border-light;
  color: $brand-primary;
  font: 14px/32px $font-base;

  &:first-child {
    border-top: 1px solid $brand-border-light;
  }

  .geomicon {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin: 0 7px;
  }

  &.wtf {
    padding: 5px 0 2px 0 !important;
  }
}

@media print {
  .action-list {
    display: none;
  }
}
