.bio {
  .author-photo {
    width: 4em;
    float: left;

    img {
      border-radius: 50%;
      @include shadow-light;
    }
  }

  .author-info {
    margin-left: $padding-base;
    @include up(8px);
  }
}
