.bio {
  height: 85px;

  .author-photo {
    width: 85px;
    float: left;

    img {
      border-radius: 50%;
      @include shadow-light;
    }
  }

  .author-info {
    float: left;
    margin-left: $padding-base;
    @include up(4px);
  }
}
