.bio {
  height: 85px;

  .author-photo {
    float: left;
    width: 85px;

    img {
      @include shadow-1;
      border-radius: 50%;
    }
  }

  .author-info {
    @include up(4px);
    float: left;
    margin-left: $padding-base;
  }
}
