.bio {
  height: 85px;
}

.bio-photo {
  @extend .float-left;
  display: inline-block;
  width: 85px;

  img {
    @include shadow-1;
    border-radius: 50%;
  }
}

.bio-info {
  display: inline-block;
  margin-left: $padding-base;
}
