.bio {
  height: 85px;
}

.bio-photo {
  @extend .float-left;
  @extend .ib;
  width: 85px;

  img {
    @include shadow-1;
    border-radius: 50%;
  }
}

.bio-info {
  @extend .ib;
  @include up(4px);
  margin-left: $padding-base;
}
