button {
  border: 0;
  display: inline-block;
  outline: 0;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  @include shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
}

.btn-primary {
  background-color: $brand-primary;
  color: white;
  border: 0;

  &:hover {
    background-color: lighten($brand-primary, 2%);
    color: white;
  }

  &:active {
    background-color: darken($brand-primary, 5%);
    color: darken(white, 8%);
  }

  &:visited {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.btn-paper {
  position: fixed;
  bottom: $padding-base-horizontal;
  padding: 14px 15px 10px 15px;
  color: white;
  background-color: $brand-primary;
  border-radius: 50%;
  font-size: $font-size-h4;
  line-height: 1.25;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);

  &:visited {
    color: white;

    &:hover {
      color: white;
    }
  }

  &:hover {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: white;
  }

  &:active {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  }
}

.btn-paper-left {
  left: $padding-base-horizontal;
}

.btn-paper-right {
  right: $padding-base-horizontal;
}

.btn-default {
  @include button-standard($blue);
}

.btn-success {
  @include button-standard($brand-success);
}

.btn-info {
  @include button-standard($brand-info);
}

.btn-warning {
  @include button-standard($brand-warning);
}

.btn-danger {
  @include button-standard($brand-danger);
}

.btn {
  @include button-size($padding-base-vertical, $btn-padding-base-horizontal, $font-size-base, $line-height-base, $btn-radius);
}

.btn-lg {
  @include button-size($padding-large-vertical, $btn-padding-large-horizontal, $font-size-large, $line-height-large, $btn-radius);
}

.btn-sm {
  @include button-size($padding-small-vertical, $btn-padding-small-horizontal, $font-size-small, $line-height-small, $btn-radius);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $btn-padding-xs-horizontal, $font-size-small, $line-height-small, $btn-radius);
}
