.btn {
  @extend %pointer;
  @include elegance;
  -webkit-appearance: none;
  background: $brand-primary $gradient-darken;
  text-shadow: 0 1px rgba(0, 0, 0, 0.04);
  border: 0;
  border-radius: $radius;
  color: #fff;
  font: $size-h3 $font-base;
  padding: 8px 16px;
  -webkit-tap-highlight-color: rgba(#000, .12);

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}

.btn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
  pointer-events: none;
}

@media print {
  .btn {
    background-color: transparent !important;
    border: 1px solid #ccc;
  }

  .btn-paper {
    display: none;
  }
}

// .btn-default {
//   @extend .btn;
//   background-color: #fff !important;
//   border: 0;
//   color: #000 !important;
//
//   &:hover {
//     background-color: #fff !important;
//     color: #000 !important;
//   }
// }

.btn-blue {
  @include button-standard($blue);
}

.btn-green {
  @include button-standard($green);
}

.btn-red {
  @include button-standard($red);
}

.btn-sm {
  box-shadow: none;
  font-size: $size-h5;
  padding: 5px 10px;

  &.in-text {
    margin: 2px 4px;
  }
}

.btn-lg {
  @extend .btn;
  font-size: $size-h2;
  padding: 10px 20px;
}

.btn-paper {
  @include elegance;
  @include size(46px);
  @include shadow-3;
  background: $brand-primary $gradient-darken;
  border-bottom: 0;
  border-radius: 50%;
  bottom: $padding-base;
  padding: 8px;
  position: fixed;
  right: $padding-base;
  user-select: none;

  &:hover {
    @include shadow-3;
  }

  &:active,
  &:focus {
    @include shadow-4;
  }

  svg {
    @include up(7px);
    height: 32px;
    left: 7px;
    width: 32px;

    path {
      fill: #fff;
    }
  }
}

.btn-paper-mini {
  @extend .btn-paper;
  bottom: 90px;
  height: 30px;
  padding: 6px;
  right: 27px;
  width: 30px;

  svg {
    @include size(30px);
    left: 0;
    top: 0;
  }
}

%pointer,
.pointer {
  cursor: pointer;
}
