.btn {
  @include elegance;
  background-color: $orange;
  border: 0;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  cursor: pointer;
  display: inline-block;
  color: #fff;
  padding: .35em .75em;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(#000,.12);

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none;
}

.btn-blue {
  @include button-standard($blue);
}

.btn-green {
  @include button-standard($green);
}

.btn-red {
  @include button-standard($red);
}

.btn-sm {
  font-size: $h5;
  padding: .1rem .5rem;
}

.btn-paper {
  bottom: $space-2;
  line-height: .9; // fixes extra bottom "padding"
  right: $space-2;

  svg {
    @include size($space-3);
  }
}

.btn-paper-mini {
  bottom: 90px;
  line-height: .9;
  right: 27px;
}
