button {
  border: 0;
  display: inline-block;
  outline: 0;
}

.btn {
  font-weight: 400;
  border: 0;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

a.btn:visited:hover {
  color: white;
}

.btn-paper {
  position: fixed;
  bottom: $padding-base-horizontal;
  right: $padding-base-horizontal;
  padding: 15px 15px 13px 16px;
  color: white;
  background-color: $brand-primary;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1.25;
  transition: box-shadow 0.2s ease-in-out;
  @include shadow-2;

  &:hover {
    @include shadow-3;
    text-decoration: none;
    color: white;
  }

  &:active {
    @include shadow-5;
  }

  &:visited {
    color: white;

    &:hover {
      color: white;
    }
  }
}

@media print {
  .btn-paper {
    display: none;
  }
}

.btn-primary {
  @include button-standard($brand-primary);
}

.btn-default {
  @include button-standard($blue);
}

.btn-success {
  @include button-standard($brand-success);
}

.btn-info {
  @include button-standard($brand-info);
}

.btn-warning {
  @include button-standard($brand-warning);
}

.btn-danger {
  @include button-standard($brand-danger);
}

.btn {
  @include button-size($padding-base-vertical, $btn-padding-base-horizontal, $font-size-base, $line-height-base, $btn-radius);
}

.btn-lg {
  @include button-size($padding-large-vertical, $btn-padding-large-horizontal, $font-size-large, $line-height-large, $btn-radius);
}

.btn-sm {
  @include button-size($padding-small-vertical, $btn-padding-small-horizontal, $font-size-small, $line-height-small, $btn-radius);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $btn-padding-xs-horizontal, $font-size-small, $line-height-small, $btn-radius);
}
