.btn:focus, .btn:active:focus {
  outline: 0;
}

.btn:active {
  background-image: none;
  outline: 0;
}

.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}

.btn {
  font: 14px $font-base;
  padding: 6px 12px;
  background: $brand-primary;
  color: white;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  @include transition(box-shadow 0.2s ease-in-out);
  box-shadow: 0 1px 1px rgba(black, 0.2);

  &:hover {
    box-shadow: 0 1px 3px rgba(black, 0.3);
  }

  &:active, &:focus {
    box-shadow: 0 2px 6px rgba(black, 0.3);
  }

  &:visited, &:visited:hover {
    color: white;
  }
}

a.btn:hover, a.btn:visited:hover {
  color: white;
}

.btn-paper {
  background-color: $brand-primary;
  border-radius: 50%;
  height: 45px;
  padding: 0 0 6px 0;
  position: fixed;
  bottom: $padding-base;
  right: $padding-base;
  @include transition(box-shadow 0.2s ease-in-out);
  @include shadow-2;

  &:hover {
    @include shadow-3;
  }

  &:active, &:focus {
    @include shadow-5;
  }

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: white;
    }
  }
}

@media print {
  .btn-paper {
    display: none;
  }
}

.btn-primary {
  @include button-standard($brand-primary);
}

.btn-default {
  @include button-standard($blue);
}

.btn-success {
  @include button-standard($brand-success);
}

.btn-danger {
  @include button-standard($brand-danger);
}

.btn-lg {
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 20px;
}
