.collection-header {
  @include up(-20px);

  &.has-img {
    box-shadow: inset 0 -5rem 6rem rgba(0,0,0,.4);
    padding: 5rem 0;
  }
}

.collection-preview.has-img {
  box-shadow: inset 0 -2rem 6rem 1rem rgba(0,0,0,.4);
}

.has-img {
  background-repeat: no-repeat;

  .collection-name,
  div {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  .btn-action svg {
    fill: #fff;
  }
}

.collection-name {
  font-size: $h1 * 1.2; // 36px
}

.btn-action svg {
  @include size(28px);
  @include up(6px);
  fill: $grey-4;
}

.glass {
  opacity: .8;
}

.collection-list-item {
  span {
    border: 1px solid $orange;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input:checked + span {
    color: #fff;
    background-color: $orange;
  }
}
