.collection-header {
  @include up(-20px);

  &.has-img {
    background-position-y: 40%;
    box-shadow: inset 0 -5rem 6rem rgba(0,0,0,.4);
    padding: 5rem 0;
  }
}

.collection-preview.has-img {
  background-position-y: 30%;
  box-shadow: inset 0 -2rem 6rem 1rem rgba(0,0,0,.4);
}

.has-img {
  background-size: cover;
  background-repeat: no-repeat;

  .collection-name {
    color: #fff;
    text-shadow: 0 2px 8px rgba(0,0,0,.3);
  }

  .collection-description {
    color: #fff;
  }
}

.collection-name {
  font-size: $h1 * 1.2; // 36px
}

.btn-action svg {
  @include up(6px);
  @include svg-large($grey-4);
}

.btn-glass svg {
  fill: #fff;
  opacity: .8;
}

.collection-list {
  list-style: none;
}

.collection-list-item {
  span {
    border: 1px solid $brand-primary;
    color: $brand-primary;
    cursor: pointer;
    padding: 4px 10px;
  }

  a {
    text-decoration: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input:checked + span {
    color: #fff;
    background-color: $brand-primary;
  }
}
