.filter {
  padding: 0;
  margin-top: 1.2em;
  color: $grey-light;

  h5 {
    text-transform: uppercase;
    display: inline-block;
  }

  a {
    margin-left: 15px;
    color: $grey-light;

    .geomicon {
      position: relative;
      top: 2px;
      right: 3px;
      color: lighten($grey-light, 4%);
    }

    &:hover {
      color: darken($grey-light, 4%);
      text-decoration: none;

      .geomicon {
        color: $grey-light;
      }
    }
  }

  .search {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding-left: 10px;
    background-color: transparent;
    color: $grey-darker;

    &:focus {
      transition: all 0.18s ease-in-out;
      background-color: white;
      outline: 0;
      border-color: $blue;
    }
  }
}

@media print {
  .filter {
    display: none;
  }
}
