.filter-bar {
  border-bottom: 1px solid $grey-lighter;
  width: 100%;
  margin-top: 1em;
  @include display(flex);
  @include justify-content(space-between);

  .search {
    svg {
      @include svg(28px, $grey-light);
      @include up(4px);
    }

    span {
      color: $grey;
      vertical-align: top;
      @include up(3px);
    }
  }

  .random {
    svg {
      @include svg(28px, $yellow);
    }
  }
}

@media print {
  .filter-bar {
    display: none !important;
  }
}
