.notification {
  margin-bottom: 0;
  padding-right: 0;
  border-bottom: 1px solid darken($notification-bg, 5%);
  background-color: $notification-bg;

  &:last-child {
    border-bottom: 0;
  }

  .text {
    color: white;
    font: 300 1.12em $font-base;
    margin-left: $padding-xs-horizontal;

    a {
      color: white;
      font-weight: bold;
      border-bottom: 2px solid white;

      &:hover {
        color: $grey-lighter;
        text-decoration: underline;
      }
    }
  }

  .container-fluid {
    margin: auto;
    padding: 6px 8px 6px 24px;
    box-shadow: none;
  }

  .geomicon {
    font-size: 22px;
    top: 4px;
    position: relative;
  }

  .close-button {
    float: right;
    background-color: transparent;
    padding: 3px 12px 3px 6px;

    .geomicon {
      color: white;
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.notification-success .geomicon {
  color: $brand-success;
}

.notification-info .geomicon {
  color: $brand-info;
}

.notification-danger .geomicon {
  color: $brand-danger;
}

@media (min-width: $screen-phone) {
  .notification {

  }
}
