.flash {
  @extend %box;
  border-left: 2px solid $grey;
  color: $grey;
  margin: $padding-base 0;
  padding: 20px 16px;
}

.flash-success {
  @extend .flash;
  border-left-color: $green;
}

.flash-info {
  @extend .flash;
  border-left-color: $yellow;
}

.flash-danger {
  @extend .flash;
  border-left-color: $red;
}

@media (max-width: $screen-phone) {
  .flash-container {
    padding: 0 16px;
    width: 90% !important;

    div {
      margin: 16px;
      padding: 10px 12px !important;
    }
  }
}

@media print {
  .flash-container {
    display: none !important;
  }
}
