.flash {
  border-left: 2px solid $blue;
}

.flash-success {
  border-left-color: $green;
}

.flash-info {
  border-left-color: $yellow;
}

.flash-danger {
  border-left-color: $red;
}

@media (max-width: $screen-phone) {
  .flash {
    width: 80%;
  }
}

@media print {
  .flash {
    display: none !important;
  }
}
