.flash p {
  border-left: 2px solid $grey;
  color: $grey;
  padding-left: 10px;

  a {
    color: inherit;
    font-weight: bold;
  }
}

.flash-success p {
  border-color: $brand-success;
}

.flash-info p {
  border-color: $brand-info;
}

.flash-danger p {
  border-color: $brand-danger;
}
