.flash {
  border-left: 2px solid $grey;
  color: $grey;
  padding-left: 10px;

  a {
    color: inherit;
    font-weight: bold;
  }
}

.flash-success {
  border-color: $brand-success;
}

.flash-info {
  border-color: $brand-info;
}

.flash-danger {
  border-color: $brand-danger;
}

@media (max-width: $screen-phone) {
  .flash {
    margin: 0 0 12px 8px;
  }
}
