.footer {
  padding: 0;

  div {
    @include text-body;
    color: $grey-light;

    a, a:visited {
      @include text-label;
      color: $grey-light;
      text-transform: uppercase;

      &:hover {
        color: darken($grey-light, 8%);
        text-decoration: underline;
      }
    }
  }
}
