.footer {
  padding: 0;

  div {
    font-weight: 400;
    font-size: 14px;
    color: $grey-light;

    a, a:visited {
      font-weight: 700;
      color: $grey-light;

      &:hover {
        color: darken($grey-light, 8%);
      }
    }
  }
}

@media print {
  .footer {
    display: none;
  }
}
