label {
  display: block;
  margin-top: $space-1;
}

input[type="checkbox"] + label {
  display: inline-block;
}

.text-input {
  -webkit-appearance: none;
  color: $grey-3;
  border: $border;
  border-radius: $border-radius;
  display: block;
  min-width: 16rem;
  padding: $space-1;

  &:focus {
    transition: all 0.2s;
    border-color: $blue;
    color: $black;
    outline: 0;
  }
}

.invisible-input {
  background: transparent;
  border: 0;
  resize: none;
  padding: 0;
}

textarea.invisible-input {
  line-height: 1.8;
}

@media (max-width: $screen-phone) {
  .text-input {
    width: 95% !important;
  }
}

.field_with_errors .text-input {
  border-color: $red;
}
