.control {
  margin: 0;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }

  .control-indicator {
    font-size: 18px;
    margin: 0 7px;
    position: absolute;
    color: $brand-border;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .text {
    position: relative;
    top: -2px;
    font-weight: 400;
  }

  input:checked ~ .control-indicator {
    background-color: white;
    color: $yellow;
  }
}

.remember-me {
  input.form-control {
    width: 20px;
    height: 15px;
    display: inline-block;
  }
}

label {
  @include text-label;
  margin-bottom: 5px;

  & + i {
    @include text-label;
  }
}

.row {
  margin: 5px 0;
}

.form-control {
  margin-bottom: 1em;
  padding: 6px 12px;
  border-radius: 0;
  box-shadow: none !important;
  background-image: none !important;
  border: 0;
  border-left: 2px solid $brand-border;
  font-weight: 300;
  font-size: 1.1em;

  &:focus {
    border-color: $blue;
  }
}

textarea.form-control {
  line-height: 1.8;
}

.radio label {
  line-height: 1.42;
  text-transform: none;
}

.field_with_errors {
  display: inline !important;

  label, i {
    color: $brand-danger;
  }

  input {
    border-color: $brand-danger;
  }
}
