label {
  @extend .text;
  display: block;
  margin-top: .5rem;
  outline: 0;
}

input[type="checkbox"] + label {
  display: inline-block;
}

input[type="submit"] {
  @extend .mt2;
}

.text-input {
  @extend .text;
  -webkit-appearance: none;
  color: $grey-3;
  display: block;
  border: $border;
  border-radius: $border-radius;
  padding: 4px 8px;
  width: 16rem;

  &:focus {
    @include elegance;
    border-color: $blue;
    color: $black;
    outline: 0;
  }

  &.notes:focus {
    border-color: $grey-5;
  }
}

textarea.text-input {
  line-height: 1.75;
  width: 32em;
}

.js-auto-size {
  resize: none;
}

.line-height-reset {
  line-height: 1 !important;
}

@media (max-width: $screen-phone) {
  .text-input {
    width: 95% !important;
  }
}

.field_with_errors .text-input {
  border-color: $red;
}
