label, input {
  display: block;
}

label {
  @include text-body;
}

.text-input {
  @include text-body;
  -webkit-appearance: none;
  border: 1px solid $grey-lighter;
  border-radius: 4px;
  color: $grey;
  width: 16em;
  padding: 4px 8px;
  margin-bottom: 1em;
  display: block;

  &:focus {
    @include transition(all 0.1s ease-in);
    border-color: $blue;
    color: $black;
    outline: 0;
  }
}

textarea.text-input {
  line-height: 1.66;
  width: 32em;

  &.js-auto-size {
    resize: none;
  }
}

.invisble-input {
  @include text-body;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: $black;
  width: 16em;
  padding: 4px 0;
  margin-bottom: 1em;
  display: block;
  resize: none;

  &:focus {
    outline: 0;
  }

  &.full-width {
    width: 100%;
  }

  &.header {
    font-size: $type-header;
    margin: 1.5em 0 0 0;
  }
}

input[type="checkbox"] {
  @include up(-1px);
}

@media (max-width: $screen-phone) {
  input.text-input, textarea.text-input {
    width: 95% !important;
  }
}

input[type="file"] {
  margin: 8px 0;
}

.radio label {
  line-height: 1.42;
  text-transform: none;
}

.field_with_errors {
  display: inline !important;

  label {
    color: $brand-danger;
  }

  input {
    border-color: $brand-danger;
  }
}
