input[type="text"], input[type="email"], input[type="number"] {
  display: inline-block;
  height: 30px;
  font-size: 1em;
  letter-spacing: 0.02rem;
  font-family: $heading-type;
  color: $dark-grey;
  background-color: #fff;
  background-image: none;
  border: 1px solid $grey;
  border-radius: 5px;
  margin: 1em 0;
  @include shadow(none !important);
  width: 25%;
  min-width: 175px;
  max-width: 400px;
  padding-left: 0.5em;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
  border: 1px solid lighten(blue, 15%);
  outline: none;
  @include shadow(inset 0 1px 3px lighten($blue, 12.5%));
}
input.large {
  width: 33%;
  min-width: 200px;
  max-width: 600px;
}
input.small {
  width: 25%;
  min-width: 50px;
  max-width: 120px;
}
input.readonly {
  border: 0 !important;
  border-bottom: 1px solid $grey !important;
  border-radius: 0;
}
input.readonly:focus {
  @include shadow(none !important);
}
textarea {
  width: 75%;
  height: 18em;
  border: 1px solid $light-grey;
  border-radius: 1.33em;
  padding: 1.33em;
  margin-top: 1em;
  @include shadow(none !important);
  resize: none;
  font: 1em $body-type;;
  line-height: 1.66em;
  color: $black;
}
textarea:focus {
  outline: none;
  border: 1px solid #13a6fa !important;
  @include shadow(0 1px 6px lighten($blue, 33%) !important);
}
