// TODO: add WTF, Forms

.remember-me {
  input.form-control {
    width: 20px;
    height: 15px;
    display: inline-block;
  }
}

label {
  @include text-label;
  margin-bottom: 5px;

  & + i {
    @include text-label;
  }
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;

  &:last-child {
    margin-top: 15px;
    margin-bottom: 2em;
  }
}

.form-control {
  margin-bottom: 1em;
  padding: 8px;
  background-color: $input-bg;
  border-radius: $border-radius-base;
  box-shadow: none !important;
  box-sizing: border-box;
  border: 1px solid $input-border;
  color: $black;

  &:focus {
    border-color: $blue;
    background-color: white;
  }
}

textarea.form-control, div.form-control {
  line-height: 1.5;
  font-size: 1.12em;
}

.radio label {
  line-height: 1.42;
  text-transform: none;
}

.field_with_errors {
  display: inline !important;

  label, i {
    color: $brand-danger;
  }

  input {
    border-color: $brand-danger;
  }
}
