label {
  color: $black;
  font-weight: 500;
  font-size: 16px;
}

.row {
  margin: 5px 0;
}

.text-input {
  display: block;
  padding: 4px 8px;
  margin-bottom: 1em;
  border: 0;
  border-left: 1px solid $brand-border;
  width: 16em;
  font: 300 16px $font-base;
  color: $grey;

  &:focus {
    transition: all 0.08s ease-in;
    border-color: $brand-border-dark;
    outline: 0;
    padding: 4px 12px;
    font-size: 18px;
    color: $black;
  }
}

textarea.text-input {
  line-height: 1.8;
  width: 32em;
}

.radio label {
  line-height: 1.42;
  text-transform: none;
}

.field_with_errors {
  display: inline !important;

  label, i {
    color: $brand-danger;
  }

  input {
    border-color: $brand-danger;
  }
}

.error-container {
  h3 {
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    color: $grey;
  }
}

.switch {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  border: 0;
  border-radius: 999px;
  background-clip: padding-box;
  background-color: #e6e6e6;
  transition: background-color 100ms;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  vertical-align: middle;

  &:before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 1;
    border-radius: 999px;
    background-clip: padding-box;
    background-color: white;
    transition: transform 400ms,transform 400ms;
  }

  &:after {
    content: " ";
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 2;
    border: none;
    border-radius: 999em;
    background-clip: padding-box;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 2px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: -webkit-transform 400ms cubic-bezier(.455, .03, .115, 1.33), transform 400ms cubic-bezier(.455, .03, .115, 1.33);
    -webkit-backface-visibility: hidden;
  }

  &:checked {
    background-color: $brand-success;

    &:before {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    &:after {
      transform: translateX(16px);
    }
  }

  + label {
    position: relative;
    top: 3px;
    margin-left: 5px;
  }
}
