#lean_overlay {
  background: #000;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  background: #fff;
  border-radius: $border-radius;
  box-sizing: border-box;
  display: none;
  max-width: 95%;
  padding: 1rem;
  top: $space-3;
  width: 36em;

  h2 {
    @extend .mt0;
  }
}
