#lean_overlay {
  @extend .hide;
  background: #000;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  @extend .hide;
  background: #fff;
  border-radius: $radius;
  padding: 15px;
  width: 560px;

  h2 {
    margin-top: 0;
  }
}

.modal-close svg {
  fill: $grey-4;
}

@media (max-width: $screen-phone) {
  .modal {
    box-sizing: border-box;
    max-width: 95% !important;
    top: 2rem !important;
  }
}
