#lean_overlay {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal {
  @extend %rounded;
  @extend .hide;
  @extend %bg-white;
  display: none;
  left: 25%;
  padding: 15px;
  position: fixed;
  top: 10%;
  width: 560px;
  z-index: 1050;

  h2 {
    margin-top: 0;
  }
}

.modal-close svg {
  @include svg-small($grey-light);
}

@media (max-width: $screen-phone) {
  .modal {
    box-sizing: border-box;
    max-width: 95% !important;
    top: 2rem !important;
  }
}
