.nav {
  @extend %bg-white;
  @extend .flex-between;
  @extend .flex;
  @include shadow-compact;
  border-bottom: 1px solid $grey-lighter;
  margin-bottom: 20px;
  padding: 16px 10px;
}

.nav-side {
  @extend .ib;
}

.nav-link {
  font-size: $size-body;
  font-weight: 600;
  margin: 0 8px;

  &:hover {
    color: lighten($brand-primary, 8%);
    text-decoration: none;
  }

  &.active {
    border-bottom: 2px solid $brand-primary;
  }
}

@media (max-width: $screen-phone) {
  .nav {
    display: block;
  }

  .nav-side:first-child {
    margin-bottom: 10px;
  }
}

@media print {
  .nav {
    display: none;
  }
}
