.navbar-noodles {
  background-color: $brand-primary;
  border-color: transparent;
  border-bottom: 0;
  margin: 0 0 auto 0;
  border-radius: 0;

  .navbar-brand {
    color: white;
    font-weight: 100;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}
