nav {
  padding-left: 20px;

  a {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;

    &.active {
      border-left: 2px solid $brand-primary;
      padding-left: 10px;
    }
  }
}

@media print {
  nav {
    display: none !important;
  }
}
