.navbar-noodles {
  background-color: $brand-primary;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;

  > div {
    display: inline-block;
  }

  .container {
    margin: 0 auto;
    padding: 2px 0;
    float: none;
  }

  .nav-link {
    display: inline-block;
    margin: 0 2rem;
    height: 64px;

    &.active .title {
      font-weight: bold;
    }

    &.pull-right {
      margin: 0;
    }

    > a {
      position: relative;
      top: 16px;
      right: 16px;
      color: white;
      font-weight: 400;
      font-size: 16px;
      text-decoration: none !important;

      &:hover {
        color: white;
        padding-bottom: 4px;
        transition: box-shadow 0.15s ease-in-out;
        box-shadow: 0 2px white;
      }

      .geomicon {
        position: relative;
        top: 2px;
        margin-right: 6px;
      }

      .badge {
        background-color: white;
        color: $brand-primary;
        position: relative;
        left: 4px;
      }
    }
  }

  .nav-brand-text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 12px;
    left: 20px;
    display: inline-block;

    &:focus,
    &:visited, &:visited:hover,
    &:hover {
      color: white !important;
      text-decoration: none;
    }
  }

  .pull-right {
    > a {
      .geomicon {
        font-size: 1.25em;
        line-height: 1.66;
      }

      .caret {
        position: relative;
        top: -5px;
      }
    }

    .nav-link:last-child {
      margin-right: 0 !important;
    }

    .dropdown-menu {
      top: 62px;
      margin-right: 1em;
      border-radius: 4px 0 4px 4px;

      .divider {
        margin: 4px 0 !important;
      }
    }
  }
}

.nav-logged-out {
  display: block !important;
}
