.panel {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: $border-radius-small;
  @include shadow-2-spread;

  .panel-title {
    margin: 0 0 6px 0;
    @include text-title;
  }

  .panel-body {
    color: $black;
    font-size: 16px;
    font-weight: 300;
    margin-left: 0;
    padding: 0;

    .btn {
      display: block;
      margin-top: 15px;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      color: $grey-dark;
      border-color: #ddd;
    }
  }
}

.panel-error {
  border: 1px solid lighten($brand-danger, 27%);
  padding: 8px 20px 20px 20px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);

  .geomicon-alert {
    font-size: 24px;
    color: $brand-danger;
    position: relative;
    top: 6px;
    padding-right: $padding-xs-horizontal;
  }

  .panel-title {
    display: inline-block;
    color: $brand-danger;
  }

  ul {
    list-style: none;
    color: $gray-darker;
    line-height: 1.5;
    padding-left: 0;
    margin-bottom: 3px;
  }
}

form .panel-error {
  margin: 1em 0;
}

.panel-lg {
  padding: 30px;
  border-radius: $border-radius-large;
}
