.pieces {
  display: table;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-align: center;

  .piece {
    border-radius: $radius;
    border: $border;
    display: table-cell;
    float: left;
    padding: 4px 10px;

    &:first-child {
      border-bottom-right-radius: 0;
      border-right-width: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &.active {
      background-color: $blue;
      border-color: $blue;

      a {
        color: white;
      }
    }

    a {
      @extend %astro;
      text-decoration: none;
      vertical-align: text-top;
    }
  }
}
