.recipes-list-container {
  padding: 0;
}

.recipe-list-item {
  padding: 15px;
  border-bottom: 1px solid $grey-lighter;

  h2, p {
    margin: 0;
  }

  p {
    color: $grey-light;
  }

  .indicators {
    opacity: 0;
    float: right;
    display: inline-block;
  }

  &:hover {
    transition: all 0.18s ease-in-out;
    background-color: $brand-primary;

    h2, p {
      color: white;
    }

    .indicators {
      opacity: 1;

      .indicator-favorite {
        svg {
          @include svg(18px, white);
        }
      }
    }
  }

  &:last-child .list-group-item {
    border-bottom: 0;
  }
}


@media print {
  .recipe-list {
    margin-top: 1em;
    border-top: 1px solid $grey-lighter;

    a:after {
      content: '';
    }
  }
}
