.favorite {
  margin-left: $padding-xs;

  svg {
    @include svg(30px, $brand-primary);
    @include up(1px);
  }
}

.img-container img {
  display: block;
  width: 100%;
}

.text, .text p, .text li {
  font: 400 16px $serif;
  line-height: 1.66;
  color: $black;
}

ol, ul {
  padding-left: 22px;
}

@media print {
  .recipe-print {
    .page-title {
      @include text-h1;
    }

    .favorite {
      display: none !important;
    }

    p {
      font-size: 1em !important;
    }
  }
}
