.header-indicator {
  @include up(2px);
  display: inline-block;
  margin-left: 4px;

  svg {
    @include svg(24px, $brand-primary);
  }
}

img {
  display: block;
  max-width: 100%;
}

.recipe-photo {
  @include shadow-1;
  border-radius: $radius;
  margin: 1.5em 0;
  max-width: 80%;
}

.locked svg {
  @include svg(200px, $grey-light);
}

.show-details {
  @extend %pointer;
  font-weight: 600;

  svg {
    @include up(8px);
    @include size(28px);
    margin-right: 3px;

    path,
    circle {
      fill: $brand-primary;
    }
  }
}

.social {
  margin: $padding-xs 0;

  a {
    border-bottom: 0;
    margin-right: 4px;
  }

  .social-twitter svg {
    @include svg(36px, #00aced);
  }

  .social-facebook svg {
    @include svg(36px, #3b5998);
  }

  .social-buffer svg {
    @include svg(36px, #555);
  }

  .social-pinterest svg {
    @include svg(36px, #cb2027);
  }

  .social-plus svg {
    @include svg(36px, #d14836);
  }

  .social-email svg {
    @include svg(36px, $blue);
  }
}

@media (max-width: $screen-phone) {
  .recipe-photo {
    float: none;
    margin: 1em 0;
    max-width: 100%;
  }
}

@media print {
  .recipe-print {
    padding: 16px 32px !important;
  }

  .header-indicator,
  .social-panel,
  .show-details {
    display: none !important;
  }

  #details-container {
    display: block !important;
  }
}
