.random svg {
  fill: $yellow;
}

.recipe-list-item {
  border-top: 1px solid $grey-lighter;
  color: $black;
  padding: 12px;

  h2 {
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
  }

  p {
    color: $grey-light;
    margin: 0;
  }

  svg {
    @extend .float-right;
    fill: #fff;
  }

  &:hover {
    @include elegance;
    background: $brand-primary;

    h2,
    p {
      color: #fff;
    }
  }
}

.recipe-list a {
  text-decoration: none;

  &:last-child .recipe-list-item {
    border-bottom: 1px solid $grey-lighter;
  }
}

@media (max-width: $screen-phone) {
  .recipe-list-item {
    padding: 10px 0;
  }
}

@media print {
  .recipe-list-container {
    width: 100%;
  }

  .recipe-list {
    border-top: $border;
    margin-top: 1em;
  }
}
