.recipe-list {
  list-style: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li {
    margin: 24px 0;

    div {
      font-size: 1.25em;
      font-weight: 400;
      color: $brand-primary;
    }

    p {
      font: 0.9em $serif;
      color: $description;
    }
  }
}
