.random svg {
  @include up(4px);
  fill: $grey-light;
  margin-left: 4px;
}

.recipe-list .bg-white.mb2 {
  &:hover h3 {
    @include elegance;
    color: $brand-primary;
  }
}

@media print {
  .recipe-list .panel {
    padding: 1rem 0 !important;
  }
}
