.random svg {
  @include up(15px);
  fill: $grey-light;
}

.recipe-list .panel {
  svg {
    @extend .float-right;
    fill: $brand-primary;
  }

  &:hover h2 {
    @include elegance;
    color: $brand-primary;
  }
}

@media print {
  .recipe-list-container {
    width: 100%;
  }

  .recipe-list {
    border-top: $border;
    margin-top: 1em;
  }
}
