.recipes-list-container {
  background-color: $grey-lighter;
  width: 100%;
  height: 100%;
}

.recipes-list-group {
  -webkit-overflow-scrolling: touch;
  padding-right: 0;
  margin-bottom: 0;

  a, a:visited {
    color: $brand-primary;

    &:hover {
      text-decoration: none;
    }
  }

  .list-group-item {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid $brand-border;
    padding-bottom: 1em;
    padding-left: 2em;
    transition: box-shadow 0.22s ease-in-out;

    &:hover {
      box-shadow: inset 3px 0 $brand-primary;
    }

    h3 {
      color: $brand-primary;
    }

    p {
      font: 1em $serif;
      color: $description;
      font-weight: 400;
      padding: 0.5em 0;
    }
  }
}
