.recipe-ingredients ul {
  @extend .list-reset;
  margin-bottom: 0;
}

.recipe-ingredients p + h1,
.recipe-ingredients ul + h1 {
  margin-top: $space-1;
}

.recipe-ingredients p {
  margin-bottom: 0;
}

.notes {
  background-color: $light-yellow;
}

.control-checkbox,
.control-checkbox:checked ~ .control-indicator,
.control-indicator-checked {
  display: none !important;
}

.control-indicator,
.control-checkbox:checked ~ .control-indicator-checked {
  display: inline-block !important;
}

.social svg {
  @include size(36px);
}
