.corner-star {
  position: relative;
  top: 12px;
  left: 0px;
  font-size: 24px;
}

.img-container img {
  display: block;
  width: 100%;
}

.text {
  ol, ul {
    padding-left: 22px;
  }

  p, li {
    font-family: $serif;
    @include text-body;
  }
}

@media print {
  .recipe-print {
    .page-title {
      @include text-h1;
    }

    .corner-star {
      display: none !important;
    }

    p {
      font-size: 1em !important;
    }
  }
}
