.header-indicator {
  @extend .ib;
  @extend .float-right;
  margin-left: 4px;

  svg {
    @include svg(32px, $brand-primary);
  }
}

img {
  display: block;
  max-width: 100%;
}

.recipe-photo {
  @include shadow-1;
  border-radius: $radius;
  margin: 1.5em 0;
  max-width: 80%;
}

.locked svg {
  @include svg(200px, $grey-light);
}

.show-details {
  @extend %pointer;
  font-weight: 600;

  svg {
    @include up(8px);
    @include size(28px);
    margin-right: 3px;

    path,
    circle {
      fill: $brand-primary;
    }
  }
}

.favorite svg path {
  fill: $pink;
}

.social {
  margin: $padding-xs 0;

  a {
    border-bottom: 0;
    margin-right: 4px;
  }

  svg {
    @include size(36px);
  }

  .social-twitter path {
    fill: #00aced;
  }

  .social-facebook path {
    fill: #3b5998;
  }

  .social-buffer path {
    fill: #555;
  }

  .social-pinterest path {
    fill: #cb2027;
  }

  .social-plus path {
    fill: #d14836;
  }

  .social-email path {
    fill: $blue;
  }
}

@media (max-width: $screen-phone) {
  .recipe-photo {
    max-width: 100%;
  }
}

@media print {
  .recipe-print {
    padding: 16px 32px !important;
  }

  .header-indicator,
  .social-panel,
  .show-details {
    display: none !important;
  }

  #details-container {
    display: block !important;
  }
}
