%aside.nav
  .nav-container
    %a.add-active.active{:href => "add.html", :title => "Add a new recipe"}
    %a.allrecipes{:href => "alrecipes", :title => "Views all of your recipes"}
    <!--Pro features-->
    %a.collections{:href => "collections", :title => "Organize your recipes into collections"}
    %a.ingredients{:href => "ingredients", :title => "Filter your recipes through ingredients"}
    %a.cuisines{:href => "cuisines", :title => "Find your recipes through a world map"}
    <!--End pro features-->
    %a.settings{:href => "settings", :title => "Change account settings or log out"}
%aside.content
  %header
    .div
      %a{:href => "recipes"}
        %button.button Cancel
    .title Add Recipe
    .div
      %button.button.bold Save Recipe
    %article
      .about
        %h2 About This Recipe
          %input.large{:type => "text", :name => "title", :placeholder => "Recipe title", :autofocus => "autofocus", :required => "required", :x-webkit-speech => "x-webkit-speech"}
          %input.large{:type => "text", :name => "description", :placeholder => "Description", :x-webkit-speech => "x-webkit-speech"}
          %input.large{:type => "number", :name => "serves", :placeholder => "Serves", :min => "1", :required => "required"}
          %br
          %span.disclaimer optional information
          %br
          %small Please leave everything in minutes.
          %br
          %input.small{:type => "number", :name => "active_time", :placeholder => "Active time"}
          %input.small{:type => "number", :name => "total_time", :placeholder => "Total time"}
        %br
        .ingredients
          %h2 Ingredients
          .ingredients
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
            %input{:type => "text", :placeholder => "Ingredient", :x-webkit-speech => "x-webkit-speech"}
          %button.button {:onclick => "addIngredient();"} Add Ingredient
          %br
        .instructions
          %h2 Instructions
          %small Instructions are formatted with Markdown (read a guide on that
            %a{:href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"}
              here
            ). Use 1. and 2. for making a list.
          %textarea#instructions{:placeholder => "Enter the instructions for the recipe here..."}
          %input#hidden-input{:x-webkit-speech => "x-webkit-speech"}
        %button.button.bold.save.save-bottom Save Recipe
