%aside.nav
  .nav-container
    %a.add{:href => "add.html", :title => "Add a new recipe"}
    %a.allrecipes{:href => "alrecipes", :title => "Views all of your recipes"}
    <!--Pro features-->
    %a.collections-active.active{:href => "collections", :title => "Organize your recipes into collections"}
    %a.ingredients{:href => "ingredients", :title => "Filter your recipes through ingredients"}
    %a.cuisines{:href => "cuisines", :title => "Find your recipes through a world map"}
    <!--End pro features-->
    %a.settings{:href => "settings", :title => "Change account settings or log out"}
%aside.content
  %header
    %div
      %button.button{:onclick => "edit();"} Edit
    .title Collections
    %div
  %article
    .container
      <!--
      .collection
        %img{:src => "#{collection_img_url}"}
        .label-container= collection.name
      -->
      %button.collection.add