%aside.nav
  .nav-container
    %a.add{:href => "add.html", :title => "Add a new recipe"}
    %a.allrecipes{:href => "alrecipes", :title => "Views all of your recipes"}
    <!--Pro features-->
    %a.collections{:href => "collections", :title => "Organize your recipes into collections"}
    %a.ingredients{:href => "ingredients", :title => "Filter your recipes through ingredients"}
    %a.cuisines{:href => "cuisines", :title => "Find your recipes through a world map"}
    <!--End pro features-->
    %a.settings-active.active{:href => "settings", :title => "Change account settings or log out"}
%aside.content
  %header
    %div
      %button.button Log Out
    .title Settings
    %div
      %button.button.bold Save
  %article
    %h2 Plan
    .plans.flex.sb
      .free
        %span.disclaimer Free
        %br
        %ul
          %li Unlimited recipes
          %li Powerful search
          %li Automatic sync
          %li iPad and web apps
          %li 5 share links per month
        .checkmark
      .pro
        %span.disclaimer Pro
        %br
        %p All the great features from the free plan, plus:
        %ul>
          %li Unlimited share links
          %li Collections
          %li Search by ingredients or cuisines
          %li No ads
      .flex.sb
        %div
          %span.ta-center.tk-proxima-nova $3.50/month
          %form{:action => "", :method => "POST"}
            %script.stripe-button{:src => "https://checkout.stripe.com/checkout.js", :data-key => "pk_test_xqN1DR2X9K6zcJjxDA8SL32P", :data-amount => "350", :data-name => "Noodles Pro", :data-description => "Monthly Subscription to Noodles Pro", :data-image => "http://assets.getnoodl.es/pro.png"}
        %div
          %span.disclaimer.or or
        %div
          %span.ta-center.tk-proxima-nova $35/year
          %form{:action => "", :method => "POST"}
            %script.stripe-button{:src => "https://checkout.stripe.com/checkout.js", :data-key => "pk_test_xqN1DR2X9K6zcJjxDA8SL32P", :data-amount => "3500", :data-name => "Noodles Pro", :data-description => "Yearly Subscription to Noodles Pro", :data-image => "http://assets.getnoodl.es/pro.png"}
    %hr
    %div
      %h2 Account Info
    %div
      .flex.sb
        %span.disclaimer Avatar
        %br
        %small We use
        %a{href => "http://gravatar.com/"} Gravatar
        %small to find profile images.
        %br
        img.avatar{:src => "#{gravatar_url}"}
        %br
        label{:for => "grav-email"} Gravatar Email:
        %input#grav-email{:type => "email", :placeholder => "oliver@icloud.com"}
      %div
        %span.disclaimer Account
        %br
        %label{:for => "name"} Name:
        %input{:type => "text" id => "name" class => "large"}
        %br
        %label{:for => "username"} Evernote username:
        %input.readonly.small#username{:type => "text", :placeholder => "oliver", :readonly => "readonly"}
        %br
        %label{:for => "email"} Email:
        %input.large#email{:type => "email", :placeholder => "oliver@icloud.com"}
        %br
        %input#newsletter{:type => "checkbox"}
        %label.newsletter-text{:for => "newsletter"} Receive our monthly newsletter
      %div
        %span.disclaimer Social Networks
        %br
        %small Optionally, you can add your social network profiles.
        %br
        %br
        %label{:for => "twitter"} Twitter:
        %input.small#twitter{:type => "text", :placeholder => "@oliver"}
        %br
        %label{:for => "facebook"} Facebook:
        %input.small#facebook{:type => "text", :placeholder => "oliver"}
        %br
        %small Confused? Check out
        %a{:href => "https://www.facebook.com/help/www/211813265517027"} Facebook's article
        %small .
      %hr
      %button.button.bold.save-bottom Save
