<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @subject %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">img{max-width:100%;}p{margin-bottom:12px}</style>
</head>
<body>
  <p>Hey! First, thank you so much for trying out <a href="http://www.getnoodl.es"><strong>Noodles</strong> (http://www.getnoodles)</a>. If you haven&#39;t added a recipe yet, Noodles won&#39;t be useful to you — check out this recipe for Banana Cream Pie that I&#39;ve shared:</p><p><a href="http://app.getnoodl.es/s/152">&gt;&gt; <strong>Banana Cream Pie</strong></a></p><p>If you think it looks good, click the button at the bottom labeled &quot;Save.&quot; You&#39;ll get your own copy of the recipe, which you can edit, cook, and share again.</p><p>Since the Noodles launch, I&#39;ve made a number of improvements to the app:</p><ul id='draft_check_box_list_0' ><li>Better editor</li><li>Redesigned Cook Mode</li><li>Locked recipes</li><li>Better Save to Noodles</li><li>Cleaner printing</li><li>Everything&#39;s faster</li></ul>
  <hr>

  <h2 id="better-editor">Better editor</h2>
  <p>When you add a new recipe to Noodles, the interface is now much simpler. Here&#39;s what it looks like:</p><p><img src="https://draftin.com:443/images/25125?token=nt0E8R2pmu60SrJBntsuwk-r0LGN9UuYmTjloYOYgLU-fVn-YrUOdWe6GeGC3ZQ9OAxgYfrmHWl202H5BW0OGrI" alt="Screenshot of the new editor"> </p>
  <hr>

  <h2 id="redesigned-cook-mode">Redesigned Cook Mode</h2>
  <p>Cooking with traditional cookbooks is often not the best experience. The text it small and it&#39;s easy to lose your place. With Noodles, I saw an opportunity to improve on that, which turned into Cook Mode: a way of highlighting sequential steps and still preserving an overview of the recipe.</p><p>I have now re-coded Cook Mode to be faster and much more useful. Here&#39;s how it looks:</p><p><img src="https://draftin.com:443/images/25172?token=cj750rchgLH0dG1LiM0gancNYIGrCgtPBeXmgEd19_QUfvznmj5x1l-xCcksswuVwVosB6YKsGjPcBLJjnIyUSw" alt="cook-mode.png"> </p><p>Try it out in the kitchen and let me know what you think!</p>
  <hr>

  <h2 id="locked-recipes">Locked recipes</h2>
  <p>Your recipes in Noodles are private by default. Noodles is not a social network, and your recipes are your own. Previously, if you tried to simply send someone a link to one of your recipes (such as <a href="http://app.getnoodl.es/recipes/45-honey-pecan-granola">http://app.getnoodl.es/recipes/45-honey-pecan-granola</a>), they would see an error page because it didn&#39;t belong to them. Now Noodles will instruct you what to do:</p><p><img src="https://draftin.com:443/images/25127?token=jt8Ra8fE6MVfwUymYWNVAiX2GoUncXiA2dX8KR-BlEj2x8PEeF8tnkT3GanS52fC2c3o3bXrx49kzZIU1Qrx7cU" alt="locked.png"> </p><p>This keeps your recipes private and clears up confusion.</p>
  <hr>

  <h2 id="better-save-to-noodles">Better Save to Noodles</h2>
  <p>Anyone to whom you show a shared recipe sees this button at the bottom of the page:</p><p><img src="https://draftin.com:443/images/25171?token=u-7wLmdJcEHy9uzFSFJoFs-kPy1l0gwnmws9IuueOU4Es5dWlyVgHZsSO4yLqPfPZxPjO1a7lZmo1O2hzMU8dIE" alt="save-button.png"> </p><p>It&#39;s Save to Noodles, which lets you save a copy of a shared recipe to your own Noodles account. I&#39;ve fixed some issues surrounding it, and it now saves the source as well.</p>
  <hr>

  <h2 id="cleaner-printing">Cleaner printing</h2>
  <p>For those of you that don&#39;t want to bring a computer or mobile device into the kitchen (tip: wrap your tablet in plastic to protect it from splashes), printing out recipes is the way to go. Recipes, and your list of recipes, now print out  nicely, hiding extra parts of the app, like the print button! Try it out on one of your own recipes by clicking the fork/knife icon in the corner.</p>
  <hr>

  <h2 id="faster">Faster</h2>
  <p>And finally, I&#39;ve made everything faster — your browser has to download less, and my server doesn&#39;t have to transfer so much data.</p>
  <hr>
  <p>Again, thank you! It&#39;s been an exciting few weeks since I launched Noodles, and stay tuned for more updates. The Noodles community is growing, and we&#39;re heading for several hundred users in more than 24 countries.</p><p>Also, if you need anything, don&#39;t hesitate to reach out to me. You can ask me on Twitter:</p><p><a href="https://twitter.com/lachlanjc"><strong>@lachlanjc</strong></a></p><p>or the official Noodles account:</p><p><a href="https://twitter.com/noodlesapp"><strong>@noodlesapp</strong></a></p><p>And I&#39;m always available by email, just <a href="mailto:lachlan@getnoodl.es">lachlan@getnoodl.es</a>.</p>
  <p>- Lachlan</p>
</body>
</html>
