<tr>
  <td class="news-section">
    <p>Hey there! Lachlan here from <%= link_to 'Noodles', root_url %>. It's been quite a while since the last newsletter, but lots has been happening 😉</p>
  </td>
</tr>

<tr>
  <td class="news-section">

    <h2>Lots of <a href="http://www.getnoodl.es/docs#cook-mode">Cook Mode</a> improvements</h2>

    <p><strong>Checklists</strong></p>
    <p>Keeping track of which ingredients you’ve already measured in long recipes is often confusing, so you’ve been able to check off ingredients for a little while. I’ve improved those checklists, and now you can check off steps too! See it in action:</p>

    <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_C57E825F59E99FB26B55E2668DD083F2DC69AE983D761ABD6B5D0AC268331C47_1445033342153_Screen+Recording+2015-09-05+at+03.30+PM.gif" />

    <p><strong>Take a photo</strong></p>
    <p>Just finished cooking something with Cook Mode? Now you can add a photo right there — and if you're on your phone or tablet, you'll get the option to take a photo without leaving Noodles! 📷</p>

    <p><strong>Public Cook Mode</strong></p>
    <p>Sending friends a Noodles recipe? Now they can use Cook Mode with your recipe without signing up. 💥</p>

  </td>
</tr>

<tr>
  <td class="news-section">

    <h2>Ingredient Sections</h2>

    <p>A lot of recipes have several components — dry/wet mixes, a frosting, a topping, etc. So now, Noodles lets you organize your ingredients into sections with headers.</p>

    <p>To create a header, just add a hash before the text.</p>

    <p><pre><code># Wet mix</code></pre></p>

    <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_C57E825F59E99FB26B55E2668DD083F2DC69AE983D761ABD6B5D0AC268331C47_1445033844721_Screen%2520Shot%25202015-08-24%2520at%25202.46.36%2520PM.png" />

  </td>
</tr>

<tr>
  <td class="news-section">

    <h2>Authors</h2>

    <p>While you’ve always been able to save the source of a recipe, a URL or cookbook name doesn’t properly capture who originally wrote the recipe.</p>

    <p>So I’ve added a new field to recipes for the author. You can record authors for your recipes in the editor, and see that author on the recipe page. When you <a href="http://www.getnoodl.es/docs#clip">clip from the web</a>, Noodles will save author data for you.</p>

  </td>
</tr>

<tr>
  <td class="news-section">

    <p>Hope you enjoy the updates! Follow Noodles on <a href="https://twitter.com/noodlesapp">Twitter</a> or <a href="https://www.facebook.com/getnoodles">like the page on Facebook</a> to keep up with the latest news and see some great recipes. Lots more news coming soon 😊</p>

  </td>
</tr>

<tr>
  <td class="news-section">
    <p><strong>Until next time &mdash;</strong></p>
    <p>
      Lachlan
      <br>
      <a href="https://twitter.com/lachlanjc">@lachlanjc</a>
    </p>
  </td>
</tr>
