<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @subject %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    h2, p, li, a { font-family: "Helvetica Neue", Helvetica, sans-serif; color: #333; }
    h2 { font-weight: 300 !important; }
    p, li { line-height: 1.5; }
    p { margin-bottom: 12px; }
    a { font-weight: bold; text-decoration: underline; }
    li a { font-weight: normal; }
    hr { margin-top: 15px; border: 0; border-top: 1px solid #C5C5C5; }
    img { max-width: 85%; }
  </style>
</head>
<body>
  <p>Hello again! Hot on the heels of <a href="http://app.getnoodl.es/announcements/1-noodles-updates-better-editor-redesigned-cook-mode-and-more">the last announcement</a>, I’ve got more updates out.</p>
  <ul>
    <li><a href="http://app.getnoodl.es/announcements/2/#checklists">Ingredient checklists</a></li>
    <li><a href="http://app.getnoodl.es/announcements/2/#remember">What should you remember next time?</a></li>
    <li><a href="http://app.getnoodl.es/announcements/2/#notes">Markdown for Notes</a></li>
    <li><a href="http://app.getnoodl.es/announcements/2/#cm-mobile">Cook Mode on mobile</a></li>
    <li><a href="http://app.getnoodl.es/announcements/2/#random">Random recipe</a></li>
    <li><a href="http://app.getnoodl.es/announcements/2/#design">Design improvements</a></li>
  </ul>
  <p>Or you can <a href="http://app.getnoodl.es/announcements/2">read this online</a>.
  <hr>
  <h2>Ingredient checklists</h2>
  <p>There’s a French phrase, <a href="http://en.wikipedia.org/wiki/Mise_en_place">mise en place</a>, which refers to the preparation of all your ingredients before starting to cook. Doing a mise en place with Cook Mode is now much easier — there are checkboxes next to every ingredient. Click or tap an ingredient or the checkbox to cross it out, tap again to bring it back. Nothing is saved with the recipe, so each time you cook you'll get a fresh start.</p><p>Here it is in action:</p><p><img src="https://draftin.com:443/images/25435?token=RUxA47Qgbsw1t0mGjKHUN-3qNgABO9WfnO6vieetM14Mtt-TI7rGCu2HRWOT7Z589SasGw6b2GyBspOazlbL_1A" alt="Ingredient checklists demo"> </p>
  <hr>
  <h2>What should you remember next time?</h2>
  <p>Each time you prepare a recipe you gain experience with it, so I’ve made remembering your tricks and refinements easy.</p><p>Now, the last card in Cook Mode looks like this:</p><p><img src="https://draftin.com:443/images/25466?token=oaEZ43WjSovlQiyaJwjIqYRhWzqdo7DRbpglxbH1ud8eAor-lGttB-HPEf7J7bSfQPf5zzyKcYGM_DxH2SDf7Qs" alt="remember.png"> </p><p>But of course, extra notes won't help if you don't look at them again. You can now see your notes underneath the ingredients in Cook Mode:</p><p><img src="https://draftin.com:443/images/25443?token=s0wRfO_MZRfkm2iD3lQLl-Yj51DAjFVmE1Wl-FtGfIQzv0DrD3CklxaTiHzFa8mtsJ6EJw5nsP16sUscfE5HP1c" alt="notes-cook-mode.png"> </p>
  <hr>
  <h2>Markdown for Notes</h2>
  <p>If something <strong>really</strong> went wrong, emphasize it in your notes with <a href="http://daringfireball.net/projects/markdown/">Markdown</a>. If you haven't used Markdown before, it's an easy method of formatting with simple syntax. For example, typing <code>**bold**</code> results in <strong>bold</strong>. Learn more about Markdown <a href="http://daringfireball.net/projects/markdown/syntax">over here</a>.</p><p>The Markdown in Notes renders just as you'd expect:</p><p><img src="https://draftin.com:443/images/25444?token=wV1bITlT3zG76BJjZ59__BZXq_H8RBwEjM50t0xZkMZh_5Unkchs54XLS-ErWOeJMgmjtMZpjN8g5PV2ePYRDi4" alt="notes-render.png"> </p>
  <hr>
  <h2>Cook Mode on mobile</h2>
  <p>Use Cook Mode elegantly on your phone or tablet, with cards and contents sized/stacked properly.</p><p><img src="https://draftin.com:443/images/25470?token=MPb6cwomk5Qba4V3GmTnCDWFuOkd0ZBoAZtzoAN15bwaOKBV6pIkJrBq3h14_fjosSnAvXJm9BLyr360Jj_Tv5E" alt="cook-iphone.png"> </p><p><img src="https://draftin.com:443/images/25471?token=jBQyyecGfGtKC2Q_E5Uvb39HZcszechqpew0lVG3_lpAy3a9EdjykIuHhFJJ7PFUBxUgyQ72JO56AD_bACX-2Yk" alt="cook-ipad.png"> </p>
  <hr>
  <h2>Random recipe</h2>
  <p>When you can't decide what to make, click the lightning bolt on your recipes page to open up a random recipe. Brownies for dinner are not recommended :)</p>
  <img alt="random-bolt.png" src="https://draftin.com:443/images/25472?token=FZcOnqf4kaTldaofY_-w6Utt6OVD599h-Z-elLqZ2gyy1dRUqDqRKb5kasIveWjueN2YFvE5GQZa_A6BQfFUYNQ">
  <hr>
  <h2>Design improvements</h2>
  <p>Across the whole app I've made some nice improvements to the design, such as photos. Here's a quick peek:</p>
  <p><img src="https://draftin.com:443/images/25473?token=h75tujMgi4lH-zKGEYVryVwdgnFUZzprbpB8XOqZ1aeRzi2x8K15iRjj-pQBBODwSJYT9M323d5zlVALkyg7FjI" alt="recipe-with-photo.png"></p>
  <hr>
  <p>Enjoy, and thank you! We're continuing to grow, but if you're really enjoying Noodles it'd be great if you told your friends. If you're making a big feast over the holidays, store your recipes in Noodles to make cooking easier.</p>
  <p>As always, you can reach out to me on Twitter:</p><p><a href="https://twitter.com/lachlanjc"><strong>@lachlanjc</strong></a></p><p>or through the official Noodles account:</p><p><a href="https://twitter.com/noodlesapp"><strong>@noodlesapp</strong></a></p><p>And I'm always available by email, just <a href="mailto:lachlan@getnoodl.es">lachlan@getnoodl.es</a>.</p><p>-Lachlan</p>
  <p style="color:#9e9e9e">If you'd rather not get these emails, <a href="http://app.getnoodl.es/announcements/unsubscribe/EAY7pdX9/<%= @id %>" style="color:#9e9e9e">unsubscribe</a> :(</a>
</body>
</html>
