<p>Hello! This is Lachlan, the creator of <a href="https://getnoodl.es"><strong>Noodles</strong></a>, the cooking app. Over the last several months I’ve been totally rebuilding the app, and it’s ready now! <strong>I just launched Noodles 2.0</strong> on Product Hunt: https://producthunt.com/posts/noodles-2-2</p>

<p>If you haven’t used Noodles in awhile, it’s here to make cooking easier: import recipes from the web, share your favorites, keep notes as you cook, and more. 🌟</p>

<p>Everything is new in 2.0. Every page is completely redesigned, you can now keep track of your <a href="https://getnoodl.es/groceries">Grocery List</a> (+ over SMS), and there are dozens of small features. If you love it, <a href="https://getnoodl.es/subscriptions">get a subscription</a> to support the service. More details are <a href="https://news.getnoodl.es/cooking-is-hard-enough-noodles-2-makes-it-easier-22f21323e9a1">in a blog post</a>.</p>

<p>I hope <a href="https://getnoodl.es"><strong>Noodles</strong></a> helps you cook! Let me know what you think by replying to this email :)</p>

<p>Lachlan Campbell<br />@lachlanjc</p>