<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @subject %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Hey! I've got more updates for <a href="http://www.getnoodl.es/" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">Noodles</a> today.</p>
  <ul>
    <li style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5;"><a href="http://www.getnoodl.es/announcements/4#collections" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: normal; text-decoration: underline;">Collections</a></li>
    <li style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5;"><a href="http://www.getnoodl.es/announcements/4#pdf" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: normal; text-decoration: underline;">PDF Export</a></li>
    <li style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5;"><a href="http://www.getnoodl.es/announcements/4#embed" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: normal; text-decoration: underline;">Embed</a></li>
    <li style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5;"><a href="http://www.getnoodl.es/announcements/4#turbo-search" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: normal; text-decoration: underline;">Real-time search</a></li>
    <li style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5;"><a href="http://www.getnoodl.es/announcements/4#favorite-turbo" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: normal; text-decoration: underline;">Favorite recipes super quickly</a></li>
  </ul>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <h2 style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: 300 !important;">Collections</h2>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">If you've got a lot of soup recipes, salads, cakes, snacks, or anything else, you can now create a collection for them in Noodles to keep them together.</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">To create one, click the new "Collections" link in the navigation at the top of Noodles. You can add a title, description, and even a background photo.</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Here's how they look:</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26366?token=RSjg1RADJUgxW3tPr66_rzljIrivgHNrchE-F2yTjACSY_Ta-V7HNUPgutGI83mLOYi7KJtZ-LBub2weFc9m7Gc" alt="collection-header.png" style="max-width: 85%;"></p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">To add a recipe to a collection, click the new "Add to Collection" button at the bottom of your recipe. Then, click on the collections you want the recipe to be in:</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26398?token=GmXrLnDzZ0bVq3G4BM2-SY8TUalOph2crDrXgh6hR1jTPGfsiTgyOQIsFkpZl76i7jCDj5x9pLFg8PjChGPAg2k" alt="add-to-collection.png" style="max-width: 85%;"></p>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <h2 style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: 300 !important;">PDF Export</h2>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">You can now export a PDF of any recipe on Noodles. To do so, click "Share" at the bottom of your recipe, then click on "Download PDF."</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26254?token=XPu_IUCms2yUx8BmUYVc3eXhqT2WzuXpKAKRqdNM3FPY7iITk2mqyW19ZtLUpxiJYslyHhIRZtMgcl4me0kG4tY" alt="share-pdf.png" style="max-width: 85%;"></p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Here's a recipe for Pasta &amp; Bean Soup, exported as a PDF: <a href="http://cl.ly/ZUTE" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">http://cl.ly/ZUTE</a></p>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <h2 style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: 300 !important;">Embed</h2>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">If you have a website or food blog, this is a fantastic way to link to recipes. You can now embed any Noodles recipe right on your page with one quick line of code. To get your code, click on "Share" at the bottom of your recipe, and click "Embed on the Web."</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26255?token=dk6X51cQOLkrpGtZ5K5_SlbuczJs7wUsLc6EBmlZZ5B4UJ1p5m1KAS-ZBTOqnQVH9jipSD1NdfjDkDI55clC_F4" alt="share-embed.png" style="max-width: 85%;"></p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Then paste that code on your website, in the HTML. If you want to play with them, check out <a href="http://codepen.io" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">CodePen</a>.</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Here are some examples of what the embeds look like:</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26400?token=7LZWeRis_gfb9uObTaFq_PT1SJnzPhs3fY7XWWCPoY6SQAXYrcP8UWkZ-_8Y71sw2wvBWzq4idZO1FXKb1YO6oA" alt="embed-noimg.png" style="max-width: 85%;"></p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26401?token=DXJloL8hSr5iKVaoOPZKTxkqXSnBDH40JgC_5PJVj74lc6QcD2LxJKw2LK6bZcFuR3ocHC_6HSDqWsTu8i-lbqI" alt="embed-img.png" style="max-width: 85%;"></p>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <h2>Real-time Search</h1>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Over the past week I've been re-engineering some core parts of Noodles, such as the recipe list. This allowed me to make search real-time: as you type, you see search results instantly. You can even search the recipes in a collection!</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26397?token=8O1ldgrUSUgBg_BaZvOrwwo5dx7--xqIettN8aI8sZopSMy5ccsHTVja_OB7KWFtNpMY_ljvY3O2FgGrtHdBJTM" alt="turbo-search.png" style="max-width: 85%;"></p>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <h2>Favorite recipes super quickly</h1>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Previously you had to edit the recipe in order to favorite it. I disliked that, so I added a simple star at the right of the recipe:</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;"><img src="https://draftin.com:443/images/26363?token=8fvzU5QNpslTi7UuoUlZHoEzDLVKZdjZIWWAv4uMukw22SEplisYDJM75cMH8EmmGbLz2qBy2SeANi34rliHzRA" alt="favorite-turbo.png" style="max-width: 85%;"></p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Click it, and your recipe is favorited. Click it again to unfavorite. Much faster and more useful. </p>
  <hr style="margin-top: 15px; border-top-style: solid; border-top-color: #dbdee3; border-width: 1px 0 0;">
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">Enjoy!</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">If you need me, I'm <a href="https://twitter.com/lachlanjc" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">@lachlanjc</a> on Twitter, or <a href="mailto:lachlan@getnoodl.es" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">lachlan@getnoodl.es</a> by email. There's also an official Noodles Twitter page, <a href="https://twitter.com/noodlesapp" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; font-weight: bold; text-decoration: underline;">@noodlesapp</a>.</p>
  <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; color: #353941; line-height: 1.5; margin-bottom: 12px;">-Lachlan</p>
  <p style="color: #9e9e9e; font-family: 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.5; margin-bottom: 12px;">If you'd rather not get these emails, <a href="http://www.getnoodl.es/announcements/unsubscribe/EAY7pdX9/<%= @id %>" style="color: #9e9e9e; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold; text-decoration: underline;">unsubscribe</a> :(</p>
</body>
</html>
