@import "bourbon";

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin svg-large($fill) {
  @include size(32px);
  fill: $fill;
}

@mixin up($amount) {
  position: relative;
  top: $amount;
}

@mixin elegance {
  @include transition(all $elegance-transition);
}


@mixin shadow-compact {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .06);
}

@mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .06);
}

@mixin shadow-2 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
}

@mixin shadow-3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
}

@mixin shadow-4 {
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .48);
}


@mixin button-standard($bg-color) {
  @extend .btn;
  background-color: $bg-color;

  &:hover {
    background-color: darken($bg-color, 1%);
  }

  &:focus,
  &:active {
    background-color: darken($bg-color, 4%);
  }
}
