// SHADOWS

@mixin shadow-1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
}

@mixin shadow-2 {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
}

@mixin shadow-2-spread {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@mixin shadow-3 {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.23);
}

@mixin shadow-4 {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.22);
}

@mixin shadow-5 {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.22);
}

// PAPER

@mixin paper {
  border-radius: $border-radius-small;
  background-color: white;
  transition: box-shadow 0.2s ease-in-out;
  @include shadow-1;
  padding: 0;
}

// TEXT STYLES

@mixin text-body {
  font-weight: 400;
  font-size: 14px;
  color: $black-87;
}

@mixin text-label {
  font-weight: 500;
  font-size: 14px;
  color: $black-64;
}

@mixin text-caption {
  font-weight: 400;
  font-size: 12px;
  color: $black-54;
}

@mixin text-title {
  font-weight: 500;
  font-size: 20px;
  color: $black-87;
}

@mixin text-headline {
  font-weight: 400;
  font-size: 24px;
  color: $black-64;
}

@mixin text-h1 {
  font-weight: 300;
  font-size: 34px;
  color: $black-64;
}

@mixin text-page-title {
  font-weight: 400;
  font-size: 56px;
  color: $black-54;
}

// BUTTON STYLES

@mixin button-standard($btn-bg-color) {
  background-color: $btn-bg-color;
  color: white;
  transition: box-shadow 0.2s ease-in-out;
  @include shadow-1;

  &:hover {
    background-color: darken($btn-bg-color, 1%);
    color: white;
    @include shadow-2;
  }

  &:focus,
  &:active {
    background-color: darken($btn-bg-color, 4%);
    color: darken(white, 3%);
    @include shadow-4;
  }

  &:visited {
    color: white;

    &:hover {
      color: white;
    }
  }
}
