// UTILITIES

@mixin svg($size, $fill) {
  width: $size;
  height: $size;

  path {
    fill: $fill;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin up($amount) {
  position: relative;
  top: $amount;
}

@mixin elegance {
  @include transition(all .28s cubic-bezier(.4,0,.2,1));
}

// TEXT STYLES

@mixin text-page-title {
  font-size: $type-page-title;
  font-weight: 400;
  color: $brand-primary;
  line-height: 1.25;
}

@mixin text-header {
  font-size: $type-header;
  font-weight: 400;
}

@mixin text-headline {
  font-size: $type-headline;
  font-weight: 400;
}

@mixin text-body {
  font-family: $font-base;
  font-size: $type-body;
  color: $black;
  line-height: $line-height;
}

@mixin text-microcopy {
  font-size: $type-caption;
  color: $grey;
}


// SHADOWS

@mixin shadow-light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

@mixin shadow-compact {
  box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

@mixin shadow-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin shadow-2 {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
}

@mixin shadow-3 {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.23);
}

@mixin shadow-5 {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.22);
}

// BUTTON STYLING

@mixin button-standard($btn-bg-color) {
  @extend .btn;
  background-color: $btn-bg-color;

  &:hover {
    background-color: darken($btn-bg-color, 1%);
  }

  &:focus, &:active {
    background-color: darken($btn-bg-color, 4%);
  }
}
