// Colors

$grey-6: #f4f4f5;
$grey-5: #dbdee3;
$grey-4: #8b909a;
$grey-3: #666d78;
$grey-2: darken($grey-3, 6%); // #585e67
$grey-1: darken($grey-2, 4%); // #4f545c
$black: #353941;

$brand-primary: #ff6d00;

$pink: #e91e63;
$red: #ff0013;
$yellow: #ffeb3b;
$green: #64dd17;
$blue: #00b0ff;

$notes: #fffbc4;

$border: 1px solid $grey-5;
$elegance-transition: .28s cubic-bezier(.4, 0, .2, 1);

// Typographic Manifestation

$font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
$line-height: 1.6;
$heading-font-family: $font-family;
$heading-font-weight: 600;
$heading-line-height: 1.25;
$monospace-font-family: 'Source Code Pro', Consolas, monospace;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;
$bold-font-weight: 600;
$spacing: .03rem;


// Whitespace

$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

$radius: 4px;


// Media queries breakpoints

$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 1225px;
