// Colors

$grey-lighter:           #dbdee3;
$grey-light:             #8b909a;
$grey:                   #666d78;
$text-color:             darken($grey, 6%); // #585e67
$header-color:           darken($text-color, 4%); // #4f545c
$black:                  #353941;

$pink:                   #e91e63;
$red:                    #ff0013;
$yellow:                 #ffeb3b;
$green:                  #64dd17;
$blue:                   #00b0ff;

$brand-primary:          #ff6d00;
$brand-bg:               #f4f4f5;
$notes:                  #fffbc4;

$border:                 1px solid $grey-lighter;
$gradient-darken:        linear-gradient(transparent, rgba(0, 0, 0, .04));
$elegance-transition:    .28s cubic-bezier(.4, 0, .2, 1);

// Typographic Manifestation

$font-base:              Lato, "Helvetica Neue", Helvetica, sans-serif;

$size-h1:                30px;
$size-h2:                24px;
$size-h3:                21px;
$size-h4:                15px;
$size-h5:                13px;
$size-h6:                11px;

$size-body:              $size-h4;

$line-height:            1.6;
$spacing:                .03rem;


// Padding

$padding-xs:             8px;
$padding-small:          12px;
$padding-base:           16px;
$padding-large:          24px;

$radius:                 4px;


// Media queries breakpoints

$screen-phone:           480px;
$screen-tablet:          768px;
$screen-desktop:         1225px;
