// COLORS

$grey-lighter:  #DDDDDD;
$grey-light:    #AAAAAA;
$grey:          #878787;
$black:         #555555;

$red:           #FF3D00;

$yellow:        #FBE500;

$green:         #64DD17;

$blue:          #00B0FF;
$light-blue:    lighten($blue, 8%);
$dark-blue:     darken($blue, 10%);

$brand-primary:          #FF6D00;
$brand-success:          $green;
$brand-info:             $yellow;
$brand-warning:          $yellow;
$brand-danger:           $red;

$black-54:               #65636A; // lighten(black, 46%);
$black-64:               lighten(black, 36%);
$black-87:               #343434; // lighten(black, 13%);


// Typography

$font-base:              'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:                  'source-serif-pro', Georgia, 'Times New Roman', Times, serif;
$font-monospace:         'InputMono', 'Source Code Pro', Consolas, monospace;

$line-height:            1.8;


// Padding

$padding-xs:                8px;
$padding-small:             12px;
$padding-base:              16px;
$padding-large:             24px;

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;
$border-radius-xl:          12px;


// Media queries breakpoints

$screen-phone:             480px;
$screen-tablet:            768px;
$screen-desktop:           992px;
$screen-desktop:           1200px;
