$grey-5: #f4f4f6;
$grey-4: #e0e6ed;
$grey-3: #8492a6;
$grey-2: #3c4858;
$grey-1: #1f2d3d;

$darken-1: rgba(#000,.0625);
$darken-2: rgba(#000,.125);
$darken-3: rgba(#000,.25);
$darken-4: rgba(#000,.5);
$hover-background-color: $darken-1;

$pink: #e91e63;
$red: #ff0013;
$orange: #ff6d00;
  $orange-dark: darken($orange, 8%);
$yellow: #ffeb3b;
  $light-yellow: #fffae5;
$green: #00cd57;
$blue: #0092ff;
  $blue-highlight: saturate(lighten($blue, 45%), 14%);
  $blue-dark: darken($blue, 8%);

$border-width: 1px;
$border-color: $grey-4;
$border: $border-width solid $border-color;
$border-radius: 6px;

$mega: 4rem;
$f0: 3rem;
$f1: 2rem;
$f2: 1.5rem;
$f3: 1.25rem;
$f4: 1rem;
$f5: .875rem;
$bold-font-weight: 600;
$spacing: .1em;
$font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
$serif-font-family: Georgia, Times, serif;
$line-height: 1.6;
$heading-font-family: $font-family;
$heading-font-weight: $bold-font-weight;
$heading-line-height: 1.25;
$monospace-font-family: 'SFMono-Regular', 'Source Code Pro', Consolas, monospace;

$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

$container-width: 64em;
