@import 'variables';
@import 'mixins';

@import 'themes/cards';

.cook-list ol {
  padding: 0;
}

.cook-ctrl svg {
  @include svg(50px, #777777);
  margin-top: 1em;
}

.cook-list li {
  font-size: $type-headline;
  line-height: 37px;
  text-align: center;
}

.cook-list li, .ingredients-accordion {
  list-style: none;
  display: block;
  width: -webkit-max-content;
  margin: 1em auto;
  padding: 12px 24px;
  background-color: white;
  border-radius: 5px;
  @include shadow-1;
  max-width: 600px;
}
