@import 'variables';
@import 'mixins';

body {
  background-color: $grey-lighter;
}

.cook-info {
  max-width: 20em;

  h1 {
    color: $black;
  }

  .exit {
    border-bottom: 0;

    span {
      @include up(-9px);
      left: 3px;
    }
  }

  svg {
    @include svg(28px, $grey);
  }

  hr {
    border-color: $grey;
  }
}

.checklist {
  display: inline-block;
  margin-right: 3px;

  &:checked + span {
    @include elegance;
    text-decoration: line-through;
    color: $grey-light;
  }
}

.cook-list {
  ol {
    padding: 0;
  }

  li {
    @include shadow-2;
    background-color: #fff;
    border-radius: $radius;
    display: block;
    font-size: $size-h2;
    line-height: 37px;
    list-style: none;
    margin: 1em auto;
    padding: $padding-large;
    text-align: center;
    width: 600px;
  }
}

@media (max-width: $screen-tablet) {
  .cook-list {
    padding: 0 !important;

    li {
      width: 385px !important;
    }
  }
}

@media (max-width: $screen-phone) {
  main,
  aside,
  ul {
    display: block !important;
  }

  aside {
    margin: 16px !important;
  }

  .cook-list {
    padding: 16px !important;

    li {
      box-sizing: border-box;
      margin: 1em 0 !important;
      width: 100% !important;
    }
  }
}
