@import 'variables';
@import 'mixins';

body {
  background-color: $grey-lighter;
}

.cook-info {
  max-width: 20em;

  h1 {
    color: $black;
  }

  .exit {
    border-bottom: 0;

    span {
      @include up(-9px);
      left: 3px;
    }
  }

  svg {
    @include svg(28px, $grey);
  }

  hr {
    border-color: $grey;
  }
}

.cook-list {
  ol {
    padding: 0;
  }

  li {
    @include shadow-standard;
    background-color: #fff;
    border-radius: 5px;
    display: block;
    font-size: $type-headline;
    line-height: $type-page-title;
    list-style: none;
    margin: 1em auto;
    max-width: 600px;
    padding: $padding-small $padding-large;
    text-align: center;
    width: -webkit-max-content;
  }
}
