@import 'variables';
@import 'mixins';

body {
  background-color: $grey-lighter;
  padding-top: 15px;
}

.logo-nav {
  left: 15px;
  position: absolute;
  text-decoration: none;
  top: 15px;

  svg {
    @include svg(32px, $grey);
  }
}

@media (max-width: $screen-phone) {
  .logo-nav {
    position: static;

    svg {
      margin: 1em auto 0 auto;
      display: block;
    }
  }
}

.upload-button {
  cursor: pointer;

  svg {
    @include svg(32px, $grey-light);
  }

  span {
    @include up(-10px);
    color: $grey;
    padding-left: 4px;
  }
}

#file {
  visibility: hidden;
}

.invisble-input {
  &.full-width {
    width: 100%;
  }

  &.header {
    font-size: $size-h1;
    font-weight: 600;
    margin: 0;
  }
}

#editor-details-btn svg {
  @include size(28px);
  @include up(8px);
  cursor: pointer;
  margin-right: 3px;

  path,
  circle {
    fill: $grey;
  }
}

.control {
  input {
    opacity: 0;
    position: absolute;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
  }

  .control-indicator-checked,
  input:checked ~ .control-indicator {
    display: none;
  }

  .control-indicator,
  input:checked ~ .control-indicator-checked {
    display: inline-block;
  }

  .control-indicator {
    height: 24px;
  }

  svg {
    @include size(24px);
  }

  span {
    @include up(-6px);
    color: $pink;
  }
}

.btn-save {
  background-color: $grey-light;
  color: $grey-lighter;
  letter-spacing: $spacing;
  text-transform: uppercase;

  &:hover {
    color: $grey-lighter;
  }
}
