@import "variables";
@import "mixins";

body {
  padding-top: 1rem;
}

.logo-nav {
  left: 15px;
  top: 15px;

  svg {
    @include svg-large($grey-3);
  }
}

@media (max-width: $screen-phone) {
  .logo-nav {
    position: static;

    svg {
      display: block;
      margin: 1rem auto 0;
    }
  }
}

.btn-save {
  // Unfortuantely .btn overrides .bg-grey-4
  background: $grey-4;
}
