@import "variables";

body {
  margin: 0;
  padding: $space-2;
}

p {
  font-size: 16px;
  color: $grey-2;
  font-family: Georgia, sans-serif;

  strong {
    color: $grey-1;
  }
}

a {
  color: $orange;
  font-weight: bold;
  text-decoration: none;
}

.footer {
  font-size: 14px;
  color: $grey-3;
}
