@import "variables";

$embed-shadow: 0 1px 2px rgba(100,100,100,.4);

.noodles-embed {
  background-color: #fff;
  border: $border;
  border-radius: $border-radius;
  cursor: pointer;
  display: block;
  font-family: $font-family;
  margin: $space-2 0;
  padding: $space-2;
  overflow: hidden;
  text-align: center;
  width: 300px;
  color: $grey-1;
}

.noodles-header {
  font-weight: 400;
}

.noodles-header,
.noodles-description {
  margin: $space-1 0 0;
}

.noodles-bar {
  font-size: $h6;
  margin: $space-2 0 0;
}

.noodles-link {
  color: darken($blue, 8%);
}

.noodles-embed.img {
  background-size: cover;
  border: 0;
  box-shadow: $embed-shadow, inset 0 -48px 24px 24px rgba(0,0,0,.2);

  &,
  .noodles-link {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .16);
  }
}
