@import "variables";

.noodles {
  border-radius: $border-radius;
  cursor: pointer;
  display: block;
  font-family: $font-family;
  margin: 16px 0;
  padding: 32px;
  overflow: hidden;
  text-align: center;
  max-width: 300px;
}

.noodles--basic {
  background-color: #fff;
  border: $border;
  color: $grey-1;
}

.noodles--img {
  color: #fff;
  background-size: cover;
  border: 0;
  box-shadow: 0 1px 2px rgba(100,100,100,.4), inset 0 -48px 24px 24px rgba(0,0,0,.2);
  text-shadow: 0 1px 1px rgba(0,0,0,.16);
}

.noodles__header {
  font-weight: 400;
}

.noodles__header {
  margin: 0;
}

.noodles__description {
  margin: 8px 0 0;
}

.noodles__footer {
  font-size: $f5;
  margin: 16px 0 0;
}
