@import "variables";

@import "fonts";

@import "base/grid";
@import "base/reset";
@import "base/type";

@import "modules/buttons";
@import "modules/forms";
@import "modules/layout";
@import "modules/modals";
@import "modules/nav";

@import "utilities/box-sizing";
@import "utilities/utilities";

body {
  background-color: $grey-6;
  -webkit-text-size-adjust: 100%;
}

.hero {
  padding: 2rem 1rem;
}

.banner {
  display: inline-block;
  background-color: rgba($grey-6, .92);
  border-radius: 2rem;
  padding: 2rem 1rem;
  width: 100%;
}

.feature-list {
  box-sizing: border-box;
  background-color: #fff;
  border-top: $border;
  padding-top: $space-2;
}

.feature-list__item {
  box-sizing: border-box;
  display: block;
  border-bottom: $border;
  padding-bottom: $space-2;
  padding-left: $space-2;
  padding-right: $space-2;
}

.form__submit {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 30em) {
  .hero {
    padding: 8rem 2rem;
  }

  .banner {
    padding: 3rem 4rem;
    width: auto;
  }

  .feature-list {
    background-color: transparent;
    border-top: 0;
    padding-top: 0;
  }

  .feature-list__item {
    background-color: #fff;
    border-radius: $border-radius-sm;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 0;
    padding: $space-2;

    &:hover,
    &:focus {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      transition: .4s cubic-bezier(.3,.6,1.2,1.4);
    }
  }

  .modal--signup {
    border: 4px solid $orange;
    min-width: 24rem;
    max-width: 24rem;
  }
}

.shadow {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.footer a {
  color: $blue;
}
