@import "variables";
@import "mixins";

@import "base/reset";
@import "base/base";
@import "base/color";
@import "base/type";
@import "bass/*";

@import "modules/buttons";

.hero {
  box-shadow: inset 0 -5rem 6rem rgba(0,0,0,.4);
  padding: 8rem 0;

  h1 {
    text-shadow: 0 1px 8px rgba(0,0,0,.5);
  }
}

@media (max-width: $screen-phone) {
  .hero {
    padding: 4rem 1rem;
  }
}

.btn-lg {
  border-radius: $space-1;
  font-size: $h2;
  padding: $space-2 $space-3;
}

.bs-bb {
  box-sizing: border-box;
}
