@charset "UTF-8";

@import "variables";

.page--preview {
  height: 6rem;
  width: 100%;

  @media screen and (min-width: 48em) {
    height: 18rem;
    width: 14rem;
  }
}

.page__sidebar {
  width: 100%;

  @media screen and (min-width: 48em) {
    margin-left: 2rem;
    width: 16rem;
  }
}

.page__sidebar__component {
  width: 100%;
}

@import "modules/content";
@import "modules/trix";
