@charset "UTF-8";

@import "variables";

.page__preview {
  @include shadow;
  background-color: #fff;
  border-radius: $border-radius;
  height: 16rem;
  margin: .5rem;
  overflow: hidden;
  padding: 1rem;
  width: 12rem;
}

.page--sidebar {
  width: 100%;

  @media screen and (min-width: 48em) {
    margin-left: 2rem;
    width: 16rem;
  }
}

.page--sidebar--component {
  width: 100%;
}

@import "modules/content";
@import "modules/trix";
