<p>Hey there, Noodler!</p>

<p>It looks like you wanted to reset your <a href="http://getnoodl.es/">Noodles</a> password. Here's the link:</p>

<p><%= link_to 'Use a new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't want this, and are now panicking thinking that your life has been hacked, don't worry. Just delete this email and continue with your day; someone just mistyped their email address.</p>

<p>Thanks and have a fabulous day!</p>

<p>Lachlan at <a href="http://getnoodl.es/">Noodles</a></p>
