<p>Hey there!</p>

<p>Here's the link to reset your <a href="http://getnoodl.es/">Noodles</a> password:</p>

<p><%= link_to 'Use a new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please delete this email and continue with your day. I'm really sorry!</p>

<p>Thanks!</p>

<p>Lachlan at <a href="http://getnoodl.es/">Noodles</a></p>
