<p>Hey there, Noodler!</p>

<p>It looks like you wanted to reset your <a href="http://www.getnoodl.es/">Noodles</a> password. Here's the link:</p>

<p><%= link_to "Reset my password", edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't try to change your password, you can delete this email — someone just mistyped their own address.</p>

<p>Thanks and have a fabulous day!</p>

<p>Lachlan at <a href="http://www.getnoodl.es/">Noodles</a></p>
