<% unless flash.empty? %>
<% flash.each do |key, value| %>
  <div class="mx-auto bg-white rounded shadow col-4 p2 grey-3 <%= flash_class(key) %>">
    <%= value unless value.blank? %>
  </div>
<% end %>
<% end %>
