<% unless flash.empty? %>
<% flash.each do |key, value| %>
  <div class="sm-col-11 md-col-4 mx-auto mb2 p2 bg-white rounded shadow grey-2 print-hide <%= flash_class(key) %>">
    <%= value unless value.blank? %>
  </div>
<% end %>
<% end %>
