<% unless flash.empty? %>
  <section class="col-6 center">
    <% flash.each do |key, value| %>
      <div class="panel <%= flash_class(key) %>">
        <%= value unless value.blank? %>
      </div>
    <% end %>
  </section>
<% end %>
