<!DOCTYPE html>
<html>
<head>
  <title>Noodles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:300,400,500,700/Source+Serif+Pro:400,700">
  <script async src="https://assets.helpful.io/assets/widget.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
