body {
  margin: 0;
  background-color: $grey-lighter;
}

.cards-header {
  margin: 1rem auto;
  width: 80%;

  h3 {
   @include up(7px);
  }

  div {
    @include up(27px);
  }
}

.cards-shell {
  max-width: 60%;
  margin: 1em auto;
}
