body {
  margin: 0;
  background-color: $grey-lighter;
}

.cards-header {
  margin: 1rem auto;
  width: 80%;

  h3 {
    position: relative;
    top: 7px;
    font-weight: 500;
  }

  div {
    position: relative;
    top: 27px;
  }
}

.cards-shell {
  max-width: 60%;
  margin: 1em auto;
}
